{% load staticfiles %}
<div id="no-user-header-wrapper">
	<div id="no-user-header" class="invisible">
		<a id="h-logo" href="/" tabindex="-1">
			<img src="{% static 'images/tumblr_logo.png' %}" alt="logo">
		</a>
		<div id="header-right">
			<a id="login" href="{% url 'login' %}">Log in</a>
			<a id="sign-up" href="{% url 'register' %}">Sign up</a>
		</div>
		<div id="form-wrapper">
			<form id="search" class="input-nofocus" action="{% url 'search' %}">
				{{ search_form.tags_search }}
			</form>
		</div>
	</div>
	{% block sub_header %}{% endblock sub_header %}
</div>