{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Sign up | Tumblr</title>
	<link rel="icon" href="{% static 'images/icon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body id="register-body">
	<div id="img-container" style="background-image: url({{ recent_img_post.file.url }});"></div>
	<div id="wrapper" class="invisible">
		{% include "no_user/header.html" %}
		<div id="center" class="invisible">
			<h1><img src="{% static 'images/logo_large.png' %}" alt="tumblr" /></h1>
			<h2>
				Follow the blogs you've been hearing about.
				<br>
				Share the things you love.
			</h2>
			<form id="account-form" action="/" method="POST" novalidate>
				{% csrf_token %}
				{{ form.email }}
				{{ form.password }}
				{{ form.username }}
				<div id="form-errors" class="error-slide error-invisible">
					<div id="form-bg">
					</div>
				</div>
				<button id="submit-button" type="submit" value="register">Sign up</button>
			</form>
			<a id="explore" href="{% url 'recent' %}">Explore Tumblr</a>
		</div>
		{% include 'no_user/footer.html' %}
	</div>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{% static 'js/no_user_ajax.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/no_user.js' %}"></script>
</body>
</html>
