{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ current_blog.title }}</title>
	<link rel="icon" href="{{ current_blog.img.url }}" />
	<link rel="stylesheet" type="text/css" href="{% static 'sites/css/style.css' %}" />
</head>
<body>
	<div id="full-screen-img" class="display-none">
		<img src="">
	</div>
	<div id="wrapper">
		<div id="header-overlay">
			<a href="{% url 'dashboard:dashboard' %}">
				<img src="{% static 'images/tumblr_logo.png' %}">
			</a>
			<a id="dashboard-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
		</div>
		<a id="header" href="" style="background-image: url({{ current_blog.bg_img.url }});"></a>
		<div id="blog-info">
			<a id="blog-img" href="/">
				<img src="{{ current_blog.img.url }}">
			</a>
			<a id="blog-title" href="/">
				<h1>{{ current_blog.title }}</h1>
			</a>
		</div>
		<div id="posts-wrapper">
			{% for post in latest_posts %}
				{% include 'sites/sites_post.html' %}
			{% endfor %}
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/post_img.js' %}"></script> 
</body>
</html>