<div id="mini-header-overlay">
	<p>{{ mini_section }}</p>
	<a id="mini-site-link" class="header-text" href="http://{{ blog_im_viewing_user.username }}.{{ domain_url }}">
		{{ blog_im_viewing_user.username }}<span class="url-fade invisible">.{{ domain_url }}</span>
	</a>
	<div id="mini-link-wrapper" data-username="{{ blog_im_viewing_user.username }}">
		{% if current_user != blog_im_viewing_user %}
			{% if follow == 'False' %}
				<button id="mini-follow" class="follow">Follow</button>
				<button id="mini-unfollow" class="unfollow display-none">Unfollow</button>
			{% else %}
				<button id="mini-unfollow" class="unfollow">Unfollow</button>
				<button id="mini-follow" class="follow display-none">Follow</button>
			{% endif %}
		{% endif %}
	</div>
</div>
<a id="mini-header" href="http://{{ blog_im_viewing_user.username }}.{{ domain_url }}" style="background-image: url({{ viewing_blog.bg_img.url }});"></a>
<div id="mini-blog-info">
	<a id="mini-blog-img" href="http://{{ blog_im_viewing_user.username }}.{{ domain_url }}">
		<img src="{{ viewing_blog.img.url }}">
	</a>
	<h1><span>{{ viewing_blog.title }}</span></h1>
</div>
<div id="mini-posts-wrapper"{% if section == 'blog-appearance'%} class='display-none'{% endif %}>
</div>