{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div id="wrapper">
		<div id="header-overlay">
			<a href="http://www.briansquashic.com/dashboard">
				<img src="{% static 'images/tumblr_logo.png' %}">
			</a>
			<div id="link-wrapper" data-username="{{ current_site.username }}">
				{% if user.is_authenticated and user != current_site %}
					{% if follow == 'false' %}
						<div class="follow">+ Follow</div>
						<div class="unfollow display-none">- Unfollow</div>
					{% else %}
						<div class="unfollow">- Unfollow</div>
						<div class="follow display-none">+ Follow</div>
					{% endif %}
					<a id="dashboard-link" href="http://www.briansquashic.com/dashboard">Dashboard</a>
				{% elif user == current_site %}
					<a id="dashboard-link" href="http://www.briansquashic.com/dashboard">Dashboard</a>
				{% else %}
					<a id="tumblr-link" href="http://www.briansquashic.com">tumblr.</a>
				{% endif %}
			</div>
		</div>
		<a id="site-header" href="" style="background-image: url({{ current_blog.bg_img.url }});"></a>
		<div id="blog-info">
			<a id="blog-img" href="/">
				<img src="{{ current_blog.img.url }}">
			</a>
			<a id="blog-title" href="/">
				<h1>{{ current_blog.title }}</h1>
			</a>
		</div>
		<div id="sites-posts-wrapper">
			{% for post, tags in latest_posts %}
				{% include 'post.html' %}
			{% endfor %}
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/post_img.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/sites.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/follow.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/infinite_scroll.js' %}"></script>
{% endblock content %}