html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  box-sizing: content-box; }

#header {
  height: 70px;
  margin: 0 auto 0 auto;
  max-width: 1620px;
  min-width: 750px;
  overflow: hidden; }

#h-logo {
  float: left;
  height: 55px;
  margin-top: -3px;
  outline: 0; }

#form-wrapper {
  margin: 18px 0 0 68px;
  overflow: hidden; }
  #form-wrapper form {
    background-size: 18px 18px; }
  #form-wrapper input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 15px;
    outline: 0;
    padding: 0 10px 0 27px;
    width: 100%; }
    #form-wrapper input::-webkit-input-placeholder {
      opacity: .5; }
    #form-wrapper input::-moz-placeholder {
      opacity: .5; }
    #form-wrapper input:-moz-placeholder {
      opacity: .5; }
    #form-wrapper input:-ms-input-placeholder {
      opacity: .5; }

.input-nofocus {
  background: url("/static/images/gray_search.png") no-repeat; }

.input-focus {
  background: url("/static/images/white_search.png") no-repeat; }

#header-right {
  float: right;
  margin: 10px 0 0 0;
  overflow: hidden;
  padding: 0 19px 0 0;
  width: 169px; }
  #header-right a {
    font-size: 13px;
    padding: 7px 0 0 13px;
    text-decoration: none; }

#login {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  color: #fff;
  float: left;
  font-weight: bold;
  height: 32px;
  padding-bottom: 5px;
  width: 65px; }

#sign-up {
  background: #fff;
  border-radius: 2px;
  color: #444;
  float: left;
  font-weight: bold;
  height: 32px;
  margin: 0 0 0 10px;
  padding-bottom: 4px;
  width: 74px; }

html {
  font-family: helvetica, arial;
  height: 100%; }

body {
  background: #36465d;
  height: 100%;
  overflow: hidden; }

#wrapper {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%; }

.invisible {
  opacity: 0; }

.fade {
  opacity: 0.5; }

.visible {
  opacity: 1; }

.fade-in {
  -webkit-transition: opacity 0.7s ease-in;
  -moz-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in; }

#center {
  height: 350px;
  left: 50%;
  margin: -221px 0 0 -157px;
  position: absolute;
  top: 50%;
  width: 315px; }

.center-slide {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: slideup;
  -moz-animation-name: slideup;
  animation-name: slideup; }

@-webkit-keyframes slideup {
  from {
    margin-top: -180px; }
  to {
    margin-top: -221px; } }
@-moz-keyframes slideup {
  from {
    margin-top: -180px; }
  to {
    margin-top: -221px; } }
@keyframes slideup {
  from {
    margin-top: -180px; }
  to {
    margin-top: -221px; } }
h1 {
  height: 50px;
  margin: 0 0 0 41px;
  width: 232px;
  z-index: 2; }

.center-padding {
  margin-top: 51px;
  margin-bottom: -2px; }

h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 10px 0 0 0;
  text-align: center;
  z-index: 2; }

#account-form {
  margin: 16px 0 0 6px;
  width: 300px; }
  #account-form input {
    border: none;
    color: #000;
    font-size: 16px;
    height: 45px;
    outline: none;
    width: 300px; }
  #account-form #email-signup,
  #account-form #email-login {
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #fff;
    border-radius: 2px 2px 0 0;
    height: 45px;
    padding: 0 0 0 13px; }
  #account-form #password-signup,
  #account-form #password-login {
    padding: 0 0 0 13px;
    height: 44px; }
  #account-form #password-login {
    border-radius: 0 0 2px 2px; }
  #account-form #username-signup {
    border-radius: 0 0 2px 2px;
    border-right: 1px solid #fff;
    border-top: 1px solid #e3e3e3;
    padding: 2px 0 2px 13px; }

#form-errors {
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 2px 2px 2px 2px;
  overflow: hidden;
  width: 300px; }
  #form-errors ul {
    list-style: none; }
  #form-errors p, #form-errors li {
    color: #ffffff;
    font-size: 14px;
    padding: 14px 15px;
    position: relative;
    text-align: center; }

.error-slide {
  -webkit-transition-property: max-height opacity;
  -moz-transition-property: max-height opacity;
  transition-property: max-height opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.error-visible {
  max-height: 60px;
  margin: 15px 0 3px 0;
  opacity: 1; }

.error-invisible {
  max-height: 0;
  opacity: 0; }

#submit-button {
  background: #529ecc;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  margin-top: 10px;
  width: 300px; }

#explore {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 22px auto 0 auto;
  text-decoration: none;
  width: 120px; }

#forgot-password {
  color: #fff;
  display: block;
  font-size: 14px;
  margin: 23px auto 0 auto;
  text-align: center;
  text-decoration: none;
  width: 150px; }

#footer {
  bottom: 0;
  left: 0;
  margin-bottom: 15px;
  overflow: hidden;
  position: absolute;
  width: 100%; }

#footer-links {
  float: left;
  margin: 0 0 0 10px;
  width: 270px; }
  #footer-links a {
    color: #fff;
    font-size: 14px;
    margin-left: 11px;
    pointer-events: none;
    text-decoration: none; }

#footer-right {
  color: #fff;
  float: right;
  font-size: 14px;
  width: 130px; }
  #footer-right span {
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
