@import 'bourbon/bourbon';
@import '../../../../static/scss/reset';
@import '../../../../static/scss/header';
@import '../../../../static/scss/universal';
@import '../../../../static/scss/mini_site';


html {
	font-family: helvetica, arial;
	height: 100%;
}

body {
	background: #36465d;
	height: 100%;
}

#wrapper {
	width: 100%;
}

#sort-header-wrapper {
	border-top: 1px solid #505e72;
	width: 100%;
}

#sort-post-header {
	height: 27px;
	width: 1610px;
	margin: 8px auto 0 auto;
	padding: 0 0 0 0;

	#sort-posts {
		padding-left: 13px;

		a {
			color: rgba(255,255,255,.5);
			font-size: 15px;
			margin: 0 15px 0 0;
			text-decoration: none;
		}	
	}
}

#outer-wrapper {
	margin: 0 auto;
	min-width: 620px;
	max-width: 1600px;
}

#post-content {
	margin: 0 auto;
	padding-top: 109px;
	width: 100%;
}

.post-wrapper {
	background: #fff;
	border-radius: 3px;
	margin: 0 0 20px 0;
	width: 300px;

	.post-header {
		height: 60px;
		padding: 14px 0 0 13px;
		overflow: auto;

		.blog-link {
			float: left;

			img {
				height: 30px;
				width: 30px;
			}
		}

		.user-link {
			color: #444;
			font-size: 14px;
			font-weight: 600;
			float: left;
			text-decoration: none;
			margin: 7px 0 0 10px;
			max-width: 160px;
			overflow: hidden;
		}

		.follow-link {
			font-size: 13px;
			font-weight: bold;
			float: left;	
			text-decoration: none;
			height: 30px;
			width: 55px;
			margin: 7px 0 0 10px;

			.follow {
				color: #529ecc;
			}

			.unfollow {
				color: #c4c4c4;
			}
		}
	}
	
	.post {
		width: 100%;

		img {
			width: 100%;
		}

		.words-wrapper {
			padding: 0 13px 0 13px;
			width: 100%;
			color: #444;

			.post-title,
			.post-text,
			.post-tags {
				word-wrap: break-word;
			}

			.post-title {
				font-size: 36px;
				line-height: 50px;
			}

			.post-text {
				font-size: 14px;
				margin: 15px 0 0 0;
			}

			.post-tags {
				color: #a1a1a1;
				display: block;
				font-size: 13px;
				margin: 20px 0 0 1px;
			}
		}
	}

	.post-footer {
		height: 45px;
	}
}
