{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Tumblr</title>
  <link rel="icon" href="{% static 'images/icon.ico' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'explore/css/style.css' %}" />
  {% if user.is_anonymous %}
    <link rel="stylesheet" type="text/css" href="{% static 'no_user/css/no_user_header.css' %}" />
  {% endif %}
</head>
<body id="explore-body" {% if search %}{{ search }}{% endif %}>
  <div id="full-screen-img" class="display-none">
    <img src="">
  </div>
  <div id="mini-site-wrapper" class="display-none">
    <div id="mini-site" class="site-no-width">
    </div>
  </div>
  <div id="wrapper" class="display-none invisible">
    {% if user.is_authenticated %}
      {% include 'explore/explore_header.html' %}
    {% else %}
      {% include 'explore/no_user_header.html' %}
    {% endif %}
    <div id="outer-wrapper">
      {% if result %}
        <div id="results">
          <p>{{ result }}</p>
        </div>
      {% endif %}
      <div id="post-content">
        {% for post, tags, following in latest_posts %}
          {% include 'explore/explore_post.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
    {% include "js_modules.html" %}
    <script type="text/javascript" src="{% static 'js/masonry.pkgd.js' %}"></script>
    <script type="text/javascript" src="{% static 'explore/js/explore.js' %}"></script>
  {% else %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{% static 'explore/js/no_user.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/post_img.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/masonry.pkgd.js' %}"></script>
    <script type="text/javascript" src="{% static 'explore/js/explore.js' %}"></script>
  {% endif %}
</body>
</html>