<div class="post-wrapper invisible" data-id="{{ post.id }}" data-username="{{ post.user.username }}">
	<div class="post-header">
		<a class="blog-link" title="{{ post.user.username }}"href="">
			<img src="{{ post.blog.img.url }}">
		</a>
		<a class="user-link" title="{{ post.user.username }}" {% if user.is_anonymous %}href="http://{{ post.user.username }}.{{ domain_url }}"{% endif %}>{{ post.user.username }}</a>
		<a class="follow-link" data-username="{{ post.user.username }}" {% if user.is_anonymous %}href="{% url 'register' %}"{% endif %}">
			{% if following == "true" %}
				<div title="Follow" class="follow display-none">Follow</div>
				<div title="Unfollow" class="unfollow">Unfollow</div>
			{% else %}
				<div title="Follow" class="follow">Follow</div>
				<div title="Unfollow" class="unfollow display-none">Unfollow</div>
			{% endif %}
		</a>
	</div>
	{% include 'post.html' %}
	<div class="post-footer">
		<div class="footer-options">
		</div>
	</div>
</div>