#explore-body {

	#no-user-header-wrapper {
		border-bottom: 1px solid #505e72;
		background: #36465d;
	}
}

#sort-header-wrapper {
	border-top: 1px solid #505e72;
	width: 100%;
}

#sort-post-header {
	height: 27px;
	width: 1610px;
	margin: 8px auto 0 auto;
	padding: 0 0 0 0;

	#sort-posts {
		padding-left: 13px;

		a {
			color: rgba(255,255,255,.5);
			font-size: 15px;
			margin: 0 15px 0 0;
			text-decoration: none;
		}
	}
}

#outer-wrapper {
	margin: 0 auto;
	min-width: 620px;
	max-width: 1600px;
}

#inner-wrapper {
	padding-top: 92px;
}

#results,
#end-results {
	width: 100%;
	margin-top: 20px;
	text-align: center;

	h2 {
		color: #fff;
		font-size: 24px;
	}

	p {
		color: rgba(255,255,255,.6);
		font-size: 25px;

		span {
			color: #fff;
			font-weight: bold;
			text-transform: lowercase;
		}
	}
}

#results p {
	margin-top: 240px;
}

#end-results p {
	margin: 150px 0 200px 0;
}

#explore-posts-wrapper {
	margin: 0 auto;
	width: 100%;
	margin-top: 27px;

	.post-wrapper {
		background: #fff;
		border-radius: 3px;
		margin: 0 0 20px 0;
		width: 300px;

		.post-header {
			height: 60px;
			padding: 14px 0 0 13px;
			overflow: auto;

			.blog-link {
				float: left;

				img {
					height: 30px;
					width: 30px;
				}
			}

			.user-link {
				cursor: pointer;
				float: left;
				margin: 7px 0 0 10px;
				max-width: 160px;
				overflow: hidden;
			}

			.follow-link {
				cursor: pointer;
				font-size: 13px;
				font-weight: bold;
				float: left;
				height: 15px;
				width: 55px;
				margin: 7px 0 0 10px;
				text-decoration: none;

				.follow {
					color: #529ecc;
				}

				.unfollow {
					color: #c4c4c4;
				}
			}
		}

		.post {

			.words-wrapper {
				padding: 0 13px 0 13px;
				width: 100%;

				.post-title {
					line-height: 50px;
				}

				.post-text {
					margin: 15px 0 0 0;
				}

				.post-tags {
					margin: 20px 0 0 1px;
				}
			}
		}
	}
}