html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  box-sizing: content-box; }

.overflow-hidden,
.overflow-hidden2 {
  overflow: hidden; }

.overflow-auto {
  overflow: auto; }

.account-hidden {
  opacity: 0;
  margin-top: -10px; }

.account-visible {
  margin-top: 14px;
  opacity: 1; }

.display-none {
  display: none; }

.display-table {
  display: table; }

.type-hidden {
  opacity: 0;
  margin-top: 15px; }

.type-visible {
  opacity: 1;
  margin-top: 0; }

.p-hidden {
  opacity: 0;
  margin: -15px 0 0 0; }

.p-visible {
  opacity: 1;
  margin: 0 0 0 0; }

.margin-top {
  margin: -9999px 0 0 0; }

.margin-none {
  margin: 0 0 0 0; }

.fade {
  opacity: .4; }

.invisible {
  opacity: 0; }

.visible {
  opacity: 1; }

.account-fade {
  -webkit-transition-property: margin opacity;
  -moz-transition-property: margin opacity;
  transition-property: margin opacity;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.post-fade {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

.slide-up {
  -webkit-transition-property: margin;
  -moz-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear; }

.type-anim {
  -webkit-transition-property: margin opacity;
  -moz-transition-property: margin opacity;
  transition-property: margin opacity;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear; }

.p-fade {
  -webkit-transition-property: margin opacity;
  -moz-transition-property: margin opacity;
  transition-property: margin opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear; }

#header-wrapper {
  background: #36465d;
  border-bottom: 1px solid #505e72;
  position: fixed;
  width: 100%;
  z-index: 98;
  top: 0; }
  #header-wrapper #header {
    margin: 0 auto 0 auto;
    max-width: 1620px;
    min-width: 64px;
    overflow: hidden;
    padding-bottom: 5px; }
  #header-wrapper #h-logo {
    float: left;
    height: 55px;
    margin-top: -6px;
    outline: 0; }

#header-right {
  float: right; }

#header-links {
  margin: 11px 20px 0 0;
  overflow: visible;
  height: 100%;
  width: 100%; }
  #header-links #dashboard,
  #header-links #explore,
  #header-links #messages,
  #header-links #activity,
  #header-links #account-a,
  #header-links #post {
    color: transparent;
    display: block;
    float: left;
    margin-left: 32px; }
  #header-links #dashboard {
    background: url("/static/images/home.png") no-repeat;
    margin-top: 5px;
    height: 20px;
    width: 20px; }
  #header-links #explore {
    background: url("/static/images/explore.png") no-repeat;
    margin-top: 4px;
    height: 22px;
    width: 22px; }
  #header-links #messages {
    background: url("/static/images/messages.png") no-repeat;
    margin-top: 7px;
    height: 17px;
    width: 23px; }
  #header-links #activity {
    background: url("/static/images/activity.png") no-repeat;
    margin-top: 5px;
    height: 20px;
    width: 14px; }
  #header-links #account {
    border: 0;
    background: url("/static/images/account.png") no-repeat;
    cursor: pointer;
    float: left;
    overflow: visible;
    outline: 0;
    margin: 6px 5px 0 30px;
    height: 19px;
    width: 15px; }
  #header-links #post {
    background: url("/static/images/post.png") no-repeat;
    border: 0;
    outline: 0;
    cursor: pointer;
    height: 32px;
    width: 45px; }

#account-details {
  background: #fff;
  border-radius: 3px;
  top: 38px;
  right: 8px;
  position: absolute;
  height: 381px;
  width: 240px;
  z-index: 100; }
  #account-details ul {
    list-style: none; }
    #account-details ul li {
      overflow: auto; }
      #account-details ul li strong {
        color: #888;
        cursor: default;
        font-size: 11px;
        font-weight: bold;
        float: left;
        margin: 7px 0 0 10px; }
      #account-details ul li a {
        text-decoration: none; }

.li-header {
  background: #f5f5f5;
  border-radius: 3px 3px 0 0;
  padding-bottom: 7px; }
  .li-header a {
    color: #7f7f7f;
    float: right;
    font-size: 12px;
    margin: 6px 0 0 0;
    padding-right: 20px; }

#li-following img {
  margin-left: 2px; }

.li-option {
  width: 100%; }
  .li-option a {
    color: #3e5266;
    display: block;
    font-size: 15px;
    height: 37px;
    padding: 9px 0 0 10px;
    width: 100%; }
  .li-option a:hover {
    background: #E6EFF7; }
  .li-option img {
    float: left;
    margin: 1px 10px 0 0; }
  .li-option span {
    color: #7f7f7f;
    font-size: 12px;
    float: right;
    margin: 2px 19px 0 0; }

.blog-details {
  margin: 15px 0 0 0;
  width: 100%; }
  .blog-details a {
    display: block;
    padding: 10px 0 0 15px;
    height: 57px;
    width: 100%; }
  .blog-details a:hover {
    background: #E6EFF7; }
  .blog-details img {
    float: left;
    height: 37px;
    width: 37px; }
  .blog-details .blog-info {
    float: left;
    margin-left: 10px; }
  .blog-details .username {
    color: #3e5266;
    font-size: 15px;
    font-weight: 700; }
  .blog-details .blog-title {
    color: #7f7f7f;
    font-size: 13px; }

.blog-options a {
  color: #3e5266;
  display: block;
  font-size: 15px;
  height: 26px;
  width: 170px;
  margin: 0 0 0 57px;
  padding: 4px 0 0 4px; }
.blog-options a:hover {
  background: #E6EFF7; }

#post-options {
  left: 0;
  top: 0;
  background: rgba(54, 70, 93, 0.95);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100; }

#post-type-wrapper {
  height: 100%;
  width: 100%; }

#post-type {
  top: 50%;
  left: 50%;
  margin: -115px 0 0 -440px;
  position: absolute;
  height: 100px;
  width: 880px; }
  #post-type div {
    top: 1px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    height: 100px;
    width: 100px; }
  #post-type .hover {
    margin: -5px 0 0 -5px;
    height: 110px;
    width: 110px; }

#text {
  background: #fff url("/static/images/post_icons/text.png") no-repeat center;
  background-size: 52%;
  left: 0; }

#photo {
  background: #D95E40 url("/static/images/post_icons/photo.png") no-repeat center;
  background-size: 52%;
  left: 130px; }

#quote {
  background: #F2992E url("/static/images/post_icons/quote.png") no-repeat center;
  background-size: 52%;
  left: 260px; }

#link {
  background: #56BC8A url("/static/images/post_icons/link.png") no-repeat center;
  background-size: 52%;
  left: 390px; }

#chat {
  background: #4AA8D8 url("/static/images/post_icons/chat.png") no-repeat center;
  background-size: 52%;
  left: 520px; }

#audio {
  background: #A77DC2 url("/static/images/post_icons/audio.png") no-repeat center;
  background-size: 52%;
  left: 650px; }

#video {
  background: #748089 url("/static/images/post_icons/video.png") no-repeat center;
  background-size: 52%;
  left: 780px; }

#post-titles {
  top: 50%;
  left: 50%;
  margin: 0 0 0 -440px;
  position: absolute;
  height: 22px;
  width: 900px; }
  #post-titles :nth-child(1) {
    left: 0; }
  #post-titles :nth-child(2) {
    left: 130px; }
  #post-titles :nth-child(3) {
    left: 260px; }
  #post-titles :nth-child(4) {
    left: 390px; }
  #post-titles :nth-child(5) {
    left: 520px; }
  #post-titles :nth-child(6) {
    left: 650px; }
  #post-titles :nth-child(7) {
    left: 780px; }
  #post-titles p {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    position: absolute;
    text-align: center;
    width: 100px; }

.post-selection {
  position: absolute;
  height: 100%;
  width: 100%; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

#post-text,
#post-photo,
#post-quote,
#post-link,
#post-chat,
#post-audio,
#post-video {
  background: #ffffff;
  border-radius: 2px;
  margin: 50px auto 50px auto;
  position: relative;
  width: 540px; }

#post-text {
  min-height: 287px; }

#post-photo #image-option {
  background: #F2F2F2;
  border-top: 2px dashed #d4d4d4;
  border-bottom: 2px dashed #d4d4d4;
  overflow: auto;
  height: 200px;
  width: 540px; }
  #post-photo #image-option .option-container {
    margin: auto;
    width: 270px; }
  #post-photo #image-option p {
    color: #9a9a9a;
    font-size: 14px; }
  #post-photo #image-option img {
    margin: 65px 5px 10px 0; }
  #post-photo #image-option #upload-img {
    cursor: pointer;
    float: left;
    text-align: center;
    height: 196px;
    width: 270px; }
  #post-photo #image-option #url-img {
    cursor: pointer;
    float: left;
    text-align: center;
    height: 196px;
    width: 270px; }
  #post-photo #image-option #url-img::before {
    border-left: 1px solid #d4d4d4;
    content: "";
    display: block;
    margin: 25px 0 0 0;
    position: absolute;
    height: 150px;
    width: 1px; }
#post-photo #photo-file {
  display: none; }
#post-photo #img-container {
  margin: 0 0 10px 0;
  width: 100%;
  position: relative; }
  #post-photo #img-container #img-preview {
    width: 100%; }
  #post-photo #img-container #erase-img {
    background: #D95E40;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 21px;
    width: 21px;
    padding: 1px 0 0 6.5px;
    position: absolute;
    right: -7px;
    top: -7px; }

.post-selection .post-header {
  height: 45px;
  width: 540px;
  position: relative; }
  .post-selection .post-header a {
    background: #ffffff;
    border-radius: 2px;
    height: 64px;
    width: 64px;
    position: absolute;
    left: -84px; }
  .post-selection .post-header img {
    height: 62px;
    width: 62px;
    margin: 1px 0 0 1px; }
  .post-selection .post-header p {
    color: #444;
    font-size: 13px;
    font-weight: 700;
    margin: 15px 0 0 20px;
    position: absolute; }
.post-selection .post-content {
  background: #ffffff; }
  .post-selection .post-content .title-field,
  .post-selection .post-content .text-field,
  .post-selection .post-content .tags-field {
    border: none;
    font-family: helvetica, arial;
    margin-left: 17px;
    outline: none;
    overflow: hidden;
    position: relative;
    resize: none;
    width: 510px; }
  .post-selection .post-content .title-field {
    font-size: 36px;
    height: 46px;
    min-height: 46px; }
  .post-selection .post-content .text-field {
    font-size: 14px;
    margin-top: 2px;
    height: 63px;
    min-height: 63px; }
  .post-selection .post-content .tags-field {
    font-size: 13px;
    margin-top: 28px;
    margin-bottom: 12px;
    height: 19px;
    min-height: 19px; }
  .post-selection .post-content .submit-input {
    display: none; }
.post-selection .post-footer {
  padding-top: 15px;
  height: 60px;
  width: 540px; }
  .post-selection .post-footer .close-post {
    background-color: #9DA6AF;
    border: 1px solid #9da6af;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 0 20px;
    padding: 0 0 1px 0;
    position: absolute;
    height: 30px;
    width: 51px; }
  .post-selection .post-footer .post-submit {
    float: right;
    margin: 0 22px 0 0;
    overflow: auto;
    height: 30px;
    width: 71px; }
    .post-selection .post-footer .post-submit .submit-button {
      background: #529ECC;
      border: 1px solid #529ECC;
      border-radius: 2px 0 0 2px;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      float: left;
      font-size: 13px;
      font-weight: bold;
      padding: 0 0 2px 1px;
      height: 30px;
      width: 44px; }
    .post-selection .post-footer .post-submit .button-color {
      color: #fff; }
    .post-selection .post-footer .post-submit div {
      background: #529ECC url("/static/images/arrow.png") no-repeat center;
      border: 1px solid #529ECC;
      border-radius: 0 2px 2px 0;
      color: #fff;
      cursor: pointer;
      float: right;
      padding-right: 1px;
      height: 30px;
      width: 27px; }
    .post-selection .post-footer .post-submit div::before {
      border-left: 1px solid #85BBDB;
      content: "";
      margin-top: 8px;
      position: absolute;
      height: 12px;
      width: 1px; }

.post-wrapper {
  margin: 0 0 20px 0;
  width: 540px; }
  .post-wrapper .post-header {
    background: #fff;
    width: 100%;
    border-radius: 3px 3px 0 0;
    padding: 1px; }
  .post-wrapper .blog-link {
    background-color: #fff;
    background-position: center;
    background-size: 100%;
    border-radius: 2px;
    left: -85px;
    top: 0;
    position: absolute;
    height: 64px;
    width: 64px; }
  .post-wrapper .user-link {
    color: #444;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none; }

.post {
  background: #fff;
  width: 100%; }
  .post img {
    width: 100%; }

.words-wrapper {
  color: #444;
  padding: 0 10px 0 10px;
  word-wrap: break-word; }

.post-title {
  font-size: 36px; }

.post-text {
  font-size: 14px; }

.post-tags {
  font-size: 13px;
  display: block;
  white-space: nowrap;
  overflow: hidden; }
  .post-tags a {
    color: #a1a1a1;
    text-decoration: none;
    margin-right: 10px; }

.post-footer {
  background: #fff;
  border-radius: 0 0 3px 3px;
  height: 45px;
  padding: 1px;
  width: 100%; }
  .post-footer .footer-options {
    float: right;
    height: 17px;
    margin: 14px 20px 0 0;
    width: 19px; }
    .post-footer .footer-options .like-options {
      display: block; }
    .post-footer .footer-options .like,
    .post-footer .footer-options .no-like {
      cursor: pointer;
      height: 17px;
      width: 19px; }
    .post-footer .footer-options .like {
      background: url("/static/images/like.png"); }
    .post-footer .footer-options .no-like {
      background: url("/static/images/no_like.png"); }

.url-fade {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear; }

.site-no-width {
  width: 0; }

.site-width {
  width: 585px; }

#mini-site-wrapper {
  background: rgba(54, 70, 93, 0.95);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 99; }

#mini-site {
  -webkit-transition-property: width;
  -moz-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
  background: #fff;
  height: 100%;
  position: fixed;
  overflow: auto;
  right: 0; }

#mini-header-overlay {
  background-color: transparent;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3) 0, transparent);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0, transparent);
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0; }

.header-text {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: 18px;
  height: 30px; }

#mini-site-link {
  max-width: 350px;
  text-decoration: none; }

#mini-link-wrapper {
  height: 30px;
  width: 200px;
  position: fixed;
  top: 10px;
  right: 23px; }
  #mini-link-wrapper button {
    background: #fff;
    border: 0;
    border-radius: 3px;
    color: #444;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    top: 0;
    right: 0;
    position: absolute; }
  #mini-link-wrapper .follow,
  #mini-link-wrapper .unfollow {
    width: 69px; }

#mini-header {
  display: block;
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%; }

#mini-blog-info {
  margin: 0 auto 0 auto;
  padding-top: 40px;
  position: relative; }
  #mini-blog-info h1 {
    color: #444444;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 526px; }

#mini-blog-img {
  background: #ffffff;
  border-radius: 8px;
  display: block;
  height: 104px;
  width: 104px;
  margin: 0 0 0 -52px;
  left: 50%;
  top: -76px;
  position: absolute; }
  #mini-blog-img img {
    height: 96px;
    width: 96px;
    margin: 4px 0 0 4px; }

#mini-posts-wrapper {
  margin: 10px 0 30px 0;
  width: 100%; }
  #mini-posts-wrapper .post-wrapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px;
    margin: 20px auto 0 auto; }
    #mini-posts-wrapper .post-wrapper .post-header {
      height: 20px; }
  #mini-posts-wrapper .post {
    border-radius: 4px; }
    #mini-posts-wrapper .post img {
      margin: 0 0 0 -1px;
      width: 538px; }
  #mini-posts-wrapper .words-wrapper {
    padding: 0 18px 5px 18px; }
  #mini-posts-wrapper .post-title {
    display: block;
    margin: 0 0 0 0; }
  #mini-posts-wrapper .post-text {
    margin: 10px 0 3px 0; }
  #mini-posts-wrapper .post-tags {
    padding: 15px 0 0 0; }
    #mini-posts-wrapper .post-tags a {
      color: #a7a7a7; }
  #mini-posts-wrapper .post-footer {
    border-radius: 0;
    height: 40px;
    width: 100%; }
  #mini-posts-wrapper .footer-options {
    margin-top: 11px; }

.blog-post-fade {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

#blog-posts-wrapper {
  margin: 0 auto 0 auto;
  width: 540px; }
  #blog-posts-wrapper .post-header {
    position: relative;
    height: 42px;
    padding: 10px 0 0 20px; }
  #blog-posts-wrapper .user-link {
    font-size: 13px; }
  #blog-posts-wrapper .post-title {
    margin: 0 0 0 7px; }
  #blog-posts-wrapper .post-text {
    margin: 0 0 0 8px;
    padding-top: 10px; }
  #blog-posts-wrapper .post-tags {
    margin: 20px 0 0 8px; }
  #blog-posts-wrapper .post-footer {
    height: 42px; }
  #blog-posts-wrapper .footer-options {
    margin: 8px 18px 0 0;
    height: 25px;
    width: 25px;
    position: relative; }
  #blog-posts-wrapper .post-edit {
    background: url("/static/images/posted_options.png") no-repeat center;
    border: 0;
    cursor: pointer;
    outline: 0;
    height: 25px;
    width: 25px; }
  #blog-posts-wrapper .popup-high {
    top: -78px; }
  #blog-posts-wrapper .popup-low {
    top: 28px; }
  #blog-posts-wrapper .options-popup {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    cursor: default;
    left: -57px;
    position: absolute;
    padding: 5px 0 0 0;
    height: 76px;
    width: 130px;
    z-index: 2; }
  #blog-posts-wrapper .option-edit,
  #blog-posts-wrapper .option-delete {
    background: #ffffff;
    color: #444;
    display: block;
    font-size: 15px;
    padding: 6px 0 0 12px;
    text-decoration: none;
    height: 32px;
    width: 100%; }
  #blog-posts-wrapper .option-edit:hover,
  #blog-posts-wrapper .option-delete:hover {
    background: #E6EFF7; }

#dashboard-posts-wrapper {
  width: 540px;
  margin: auto auto; }
  #dashboard-posts-wrapper .post-header {
    height: 45px;
    padding: 0 0 0 20px;
    position: relative; }
  #dashboard-posts-wrapper .user-link {
    line-height: 16px;
    margin: 13px 0 0 0;
    position: absolute; }
  #dashboard-posts-wrapper .post-title {
    line-height: 47px;
    margin: 0 0 0 7px; }
  #dashboard-posts-wrapper .post-text {
    margin: 0 0 0 8px;
    padding-top: 10px; }
  #dashboard-posts-wrapper .post-tags {
    margin: 18px 0 0 8px; }

#explore-body #no-user-header-wrapper {
  border-bottom: 1px solid #505e72;
  background: #36465d; }

#sort-header-wrapper {
  border-top: 1px solid #505e72;
  width: 100%; }

#sort-post-header {
  height: 27px;
  width: 1610px;
  margin: 8px auto 0 auto;
  padding: 0 0 0 0; }

#sort-posts {
  padding-left: 13px; }
  #sort-posts a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    margin: 0 15px 0 0;
    text-decoration: none; }

#inner-wrapper {
  margin: 0 auto;
  min-width: 620px;
  max-width: 1600px; }

#results,
#end-results {
  width: 100%;
  margin-top: 20px;
  text-align: center; }
  #results h2,
  #end-results h2 {
    color: #fff;
    font-size: 24px; }
  #results p,
  #end-results p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px; }
    #results p span,
    #end-results p span {
      color: #fff;
      font-weight: bold;
      text-transform: lowercase; }

#results p {
  margin-top: 240px; }

#end-results p {
  margin: 150px 0 200px 0; }

#explore-posts-wrapper {
  margin: 0 auto;
  width: 100%;
  margin-top: 27px; }
  #explore-posts-wrapper .post-wrapper {
    width: 300px; }
  #explore-posts-wrapper .post-header {
    height: 60px;
    padding: 14px 0 0 13px;
    overflow: auto; }
  #explore-posts-wrapper .blog-link {
    border-radius: 0;
    float: left;
    height: 30px;
    width: 30px;
    position: static; }
  #explore-posts-wrapper .user-link {
    cursor: pointer;
    float: left;
    margin: 7px 0 0 10px;
    max-width: 160px;
    overflow: hidden; }
  #explore-posts-wrapper .follow-link {
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    float: left;
    height: 15px;
    width: 55px;
    margin: 8px 0 0 10px;
    text-decoration: none; }
  #explore-posts-wrapper .follow {
    color: #529ecc; }
  #explore-posts-wrapper .unfollow {
    color: #c4c4c4; }
  #explore-posts-wrapper .words-wrapper {
    padding: 0 13px 0 13px;
    width: 100%; }
  #explore-posts-wrapper .post-title {
    line-height: 50px; }
  #explore-posts-wrapper .post-text {
    margin: 15px 0 0 0; }
  #explore-posts-wrapper .post-tags {
    margin: 20px 0 0 1px; }

#sites-body {
  background: #ffffff; }
  #sites-body #wrapper {
    padding: 0; }

#header-overlay {
  background-color: transparent;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4) 0, transparent);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0, transparent);
  height: 64px;
  width: 100%;
  position: absolute;
  top: 0; }
  #header-overlay a {
    position: absolute;
    top: -6px; }
  #header-overlay #link-wrapper {
    height: 30px;
    width: 200px;
    position: fixed;
    top: 3px;
    right: 3px; }
  #header-overlay .follow,
  #header-overlay .unfollow,
  #header-overlay #dashboard-link {
    background: rgba(0, 0, 0, 0.38);
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    height: 20px;
    top: 0;
    position: absolute; }
  #header-overlay .follow {
    width: 65px;
    right: 93px; }
  #header-overlay .unfollow {
    width: 77px;
    right: 93px; }
  #header-overlay #dashboard-link {
    width: 90px;
    right: 0;
    padding: 2px 0 0 13px; }
  #header-overlay .follow:hover,
  #header-overlay .unfollow:hover,
  #header-overlay #dashboard-link:hover {
    background: rgba(0, 0, 0, 0.18); }
  #header-overlay #tumblr-link {
    background: #2D4661;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    height: 25px;
    width: 72px;
    padding: 3px 0 0 7px;
    top: 2px;
    right: 4px; }

#site-header {
  display: block;
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%; }

#blog-info {
  margin: 0 auto 0 auto;
  padding-top: 40px;
  width: 300px;
  position: relative; }
  #blog-info #blog-img {
    background: #ffffff;
    border-radius: 8px;
    display: block;
    height: 114px;
    width: 114px;
    margin: 0 0 0 -57px;
    left: 50%;
    top: -82px;
    position: absolute; }
    #blog-info #blog-img img {
      height: 106px;
      width: 106px;
      margin: 4px 0 0 4px; }
  #blog-info #blog-title {
    display: block;
    text-decoration: none;
    margin: 0 0 0 0; }
    #blog-info #blog-title h1 {
      color: #444444;
      font-size: 56px;
      font-weight: bold;
      text-align: center; }

#sites-posts-wrapper {
  margin: 10px 0 30px 0;
  width: 100%; }
  #sites-posts-wrapper .post-wrapper {
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 20px auto 0 auto;
    width: 700px; }
  #sites-posts-wrapper .post {
    background: #fff;
    border-radius: 4px; }
  #sites-posts-wrapper .post-click-img {
    margin: 0 auto;
    width: 698px; }
    #sites-posts-wrapper .post-click-img img {
      border-radius: 3px 3px 0 0;
      width: 100%; }
  #sites-posts-wrapper .words-wrapper {
    padding: 0 18px 0 18px; }
  #sites-posts-wrapper .post-title {
    display: block;
    font-size: 36px;
    margin: 20px 0 0 0; }
  #sites-posts-wrapper .post-text {
    font-size: 15px;
    margin: 20px 0 0 0; }
  #sites-posts-wrapper .post-tags {
    font-size: 14px;
    margin: 26px 0 0 0; }
    #sites-posts-wrapper .post-tags a {
      color: #a7a7a7; }
  #sites-posts-wrapper .post-footer {
    height: 50px;
    width: 100%; }
    #sites-posts-wrapper .post-footer .footer-options {
      margin-top: 16px; }

#no-user-header-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 98; }

#no-user-header {
  height: 58px;
  margin: 0 auto 0 auto;
  max-width: 1620px;
  min-width: 750px;
  overflow: hidden; }
  #no-user-header #h-logo {
    float: left;
    height: 55px;
    margin-top: -3px;
    outline: 0; }
  #no-user-header #header-right {
    float: right;
    margin: 10px 0 0 0;
    overflow: hidden;
    padding: 0 19px 0 0;
    width: 169px; }
    #no-user-header #header-right a {
      font-size: 13px;
      padding: 7px 0 0 13px;
      text-decoration: none; }
  #no-user-header #login {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    color: #fff;
    float: left;
    font-weight: bold;
    height: 32px;
    padding-bottom: 5px;
    width: 65px; }
  #no-user-header #sign-up {
    background: #fff;
    border-radius: 2px;
    color: #444;
    float: left;
    font-weight: bold;
    height: 32px;
    margin: 0 0 0 10px;
    padding-bottom: 4px;
    width: 74px; }

#register-body,
#login-body {
  overflow: hidden; }
  #register-body #wrapper,
  #login-body #wrapper {
    height: 100%;
    position: absolute;
    z-index: 100; }
  #register-body .fade,
  #login-body .fade {
    opacity: 0.5; }
  #register-body .fade-in,
  #login-body .fade-in {
    -webkit-transition: opacity 0.7s ease-in;
    -moz-transition: opacity 0.7s ease-in;
    transition: opacity 0.7s ease-in; }
  #register-body #center,
  #login-body #center {
    height: 350px;
    left: 50%;
    margin: -221px 0 0 -157px;
    position: absolute;
    top: 50%;
    width: 315px; }
    #register-body #center h1,
    #login-body #center h1 {
      height: 50px;
      margin: 0 0 0 41px;
      width: 232px;
      z-index: 2; }
  #register-body .center-slide,
  #login-body .center-slide {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-name: slideup;
    -moz-animation-name: slideup;
    animation-name: slideup; }
@-webkit-keyframes slideup {
  from {
    margin-top: -180px; }
  to {
    margin-top: -221px; } }
@-moz-keyframes slideup {
  from {
    margin-top: -180px; }
  to {
    margin-top: -221px; } }
@keyframes slideup {
  from {
    margin-top: -180px; }
  to {
    margin-top: -221px; } }
  #register-body .center-padding,
  #login-body .center-padding {
    margin-top: 51px;
    margin-bottom: -2px; }
  #register-body h2,
  #login-body h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 10px 0 0 0;
    text-align: center;
    z-index: 2; }
  #register-body #account-form,
  #login-body #account-form {
    margin: 16px 0 0 6px;
    width: 300px; }
    #register-body #account-form input,
    #login-body #account-form input {
      border: none;
      color: #000;
      font-size: 16px;
      height: 45px;
      outline: none;
      width: 300px; }
    #register-body #account-form #email-signup,
    #register-body #account-form #email-login,
    #login-body #account-form #email-signup,
    #login-body #account-form #email-login {
      border-bottom: 1px solid #e3e3e3;
      border-right: 1px solid #fff;
      border-radius: 2px 2px 0 0;
      height: 45px;
      padding: 0 0 0 13px; }
    #register-body #account-form #password-signup,
    #register-body #account-form #password-login,
    #login-body #account-form #password-signup,
    #login-body #account-form #password-login {
      padding: 0 0 0 13px;
      height: 44px; }
    #register-body #account-form #password-login,
    #login-body #account-form #password-login {
      border-radius: 0 0 2px 2px; }
    #register-body #account-form #username-signup,
    #login-body #account-form #username-signup {
      border-radius: 0 0 2px 2px;
      border-right: 1px solid #fff;
      border-top: 1px solid #e3e3e3;
      padding: 2px 0 2px 13px; }
  #register-body #form-errors,
  #login-body #form-errors {
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 2px 2px 2px 2px;
    overflow: hidden;
    width: 300px; }
    #register-body #form-errors ul,
    #login-body #form-errors ul {
      list-style: none; }
    #register-body #form-errors p, #register-body #form-errors li,
    #login-body #form-errors p,
    #login-body #form-errors li {
      color: #ffffff;
      font-size: 14px;
      padding: 14px 15px;
      position: relative;
      text-align: center; }
  #register-body .error-slide,
  #login-body .error-slide {
    -webkit-transition-property: max-height opacity;
    -moz-transition-property: max-height opacity;
    transition-property: max-height opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  #register-body .error-visible,
  #login-body .error-visible {
    max-height: 60px;
    margin: 15px 0 3px 0;
    opacity: 1; }
  #register-body .error-invisible,
  #login-body .error-invisible {
    max-height: 0;
    opacity: 0; }
  #register-body #submit-button,
  #login-body #submit-button {
    background: #529ecc;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    margin-top: 10px;
    width: 300px; }
  #register-body #explore,
  #login-body #explore {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 22px auto 0 auto;
    text-decoration: none;
    width: 120px; }
  #register-body #forgot-password,
  #login-body #forgot-password {
    color: #fff;
    display: block;
    font-size: 14px;
    margin: 23px auto 0 auto;
    text-align: center;
    text-decoration: none;
    width: 150px; }

#error-body #wrapper {
  height: 100%;
  position: absolute;
  z-index: 100; }
#error-body #footer-links a {
  font-size: 40px;
  font-weight: bold;
  pointer-events: auto; }
#error-body #error-center {
  color: #fff;
  height: 200px;
  width: 420px;
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: -85px 0 0 -210px; }
#error-body #error-message {
  width: 400px; }
  #error-body #error-message span {
    font-size: 26px;
    font-weight: bold; }
  #error-body #error-message p {
    margin-top: 5px;
    line-height: 18px;
    font-size: 14px; }
#error-body #search-form-wrapper {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  margin: 12px 0 0 75px;
  padding: 0 0 0 9px;
  height: 26px;
  width: 250px; }
  #error-body #search-form-wrapper form {
    background-size: 13px 13px;
    background-position: 0 center;
    height: 100%; }
  #error-body #search-form-wrapper input {
    color: #444;
    font-size: 13px;
    font-weight: bold;
    height: 100%;
    padding: 0 0 0 20px; }
    #error-body #search-form-wrapper input::-webkit-input-placeholder {
      color: #444;
      opacity: .6; }
    #error-body #search-form-wrapper input::-moz-placeholder {
      color: #444;
      opacity: .6; }
    #error-body #search-form-wrapper input:-moz-placeholder {
      color: #444;
      opacity: .6; }
    #error-body #search-form-wrapper input:-ms-input-placeholder {
      color: #444;
      opacity: .6; }

#no-posts-wrapper {
  padding-top: 93px;
  width: 100%; }

#no-posts {
  background: rgba(255, 255, 255, 0.05) url("../images/no_posts.png") no-repeat center;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  height: 800px;
  margin: 0 auto;
  position: relative;
  width: 625px; }
  #no-posts span {
    color: rgba(255, 255, 255, 0.46);
    display: block;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    height: 23px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 60px 0 0 -150px; }

#likes-posts-wrapper {
  margin: 0 auto;
  width: 540px; }
  #likes-posts-wrapper .post-header {
    padding: 10px 0 0 20px;
    position: relative;
    height: 42px; }
  #likes-posts-wrapper .user-link {
    font-size: 13px; }
  #likes-posts-wrapper .follow {
    background: #529ecc;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 23px;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 57px;
    text-align: center; }
  #likes-posts-wrapper .post-title {
    margin: 0 0 0 7px; }
  #likes-posts-wrapper .post-text {
    margin: 0 0 0 8px;
    padding-top: 10px; }
  #likes-posts-wrapper .post-tags {
    margin: 20px 0 0 8px; }
  #likes-posts-wrapper .post-footer {
    margin: 0 0 20px 0;
    height: 42px; }

#following-wrapper {
  padding-top: 92px;
  width: 100%; }

#following-container {
  background: #fff;
  border-radius: 20px;
  width: 640px;
  margin: 0 auto;
  padding: 30px 0 30px 20px; }

#blogs-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  width: 600px; }

.followed-blog:nth-child(1) {
  padding-top: 10px; }

.followed-blog:nth-last-child(1) {
  margin: 0 0 0 0; }

.followed-blog {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  color: #444;
  margin: 0 0 10px 0;
  padding: 0 15px 10px 15px;
  width: 600px;
  overflow: auto; }
  .followed-blog img {
    float: left;
    height: 40px;
    width: 40px; }
  .followed-blog .name-link {
    color: #444;
    font-size: 14px;
    font-weight: bold;
    float: left;
    text-decoration: none;
    margin: 4px 0 0 7px; }
  .followed-blog .follow-unfollow {
    float: right;
    margin: 7px 0 0 0; }
    .followed-blog .follow-unfollow button {
      border-radius: 2px;
      border: 0;
      cursor: pointer;
      font-size: 13px;
      font-weight: bold;
      height: 30px;
      line-height: 15px;
      width: 87px;
      text-align: center; }
    .followed-blog .follow-unfollow .follow {
      background: #529ecc;
      color: #fff; }
    .followed-blog .follow-unfollow .unfollow {
      background: #fff;
      color: #666;
      border: 1px solid #bfbfbf; }

#blog-appearance-body h1 span {
  display: inline-block;
  min-width: 10px;
  min-height: 48px;
  outline: 0; }
#blog-appearance-body h1 span:before {
  content: attr(data-placeholder);
  opacity: .3; }
#blog-appearance-body .h1-focus {
  background: rgba(0, 0, 0, 0.05); }

#blog-appearance-wrapper {
  background: #fff;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
  width: 585px; }
  #blog-appearance-wrapper #mini-header-overlay {
    position: absolute; }
  #blog-appearance-wrapper button {
    border: 0;
    border-radius: 2px;
    color: #444;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    outline: 0;
    padding-bottom: 2px; }

#edit-appearance {
  background: #fff;
  width: 120px;
  top: 9px;
  right: 10px;
  position: absolute;
  z-index: 90; }

#edit-options-wrapper {
  padding: 1;
  height: 100%;
  z-index: 90;
  position: relative; }

#edit-options-cover {
  opacity: 0;
  background: #fff;
  position: absolute;
  height: 380px;
  width: 100%;
  z-index: 89; }

#button-wrapper {
  top: 9px;
  right: 10px;
  position: absolute; }

#save-cancel-wrapper {
  overflow: auto; }
  #save-cancel-wrapper button {
    width: 69px; }
  #save-cancel-wrapper #save {
    background: #fff;
    margin-left: 6px; }
  #save-cancel-wrapper .save-font-color {
    color: rgba(68, 68, 68, 0.5); }
  #save-cancel-wrapper #cancel {
    background: rgba(0, 0, 0, 0.5);
    color: #fff; }

#edit-header-img,
#edit-avatar {
  background: rgba(0, 0, 0, 0.5) url("../images/edit_blog.png") no-repeat center;
  height: 30px;
  width: 30px;
  position: absolute; }

#edit-header-img {
  right: 10px;
  top: 60px; }

#edit-avatar {
  right: 276px;
  top: 313px; }

.title-border {
  border-bottom: 2px dotted #529ECC;
  outline: 0; }

html {
  font-family: helvetica, arial;
  height: 100%; }

body {
  background: #36465d;
  height: 100%; }

#wrapper {
  padding-top: 92px;
  width: 100%; }

#full-screen-img {
  left: 0;
  top: 0;
  background: rgba(17, 17, 17, 0.92157);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100; }
  #full-screen-img img {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    margin: auto auto;
    max-height: 100%;
    max-width: 70%; }

#img-container {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  opacity: .8;
  position: absolute;
  z-index: 1; }

#search-form-wrapper {
  margin: 18px 0 0 68px;
  overflow: hidden; }
  #search-form-wrapper form {
    background-size: 18px 18px; }
  #search-form-wrapper input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 15px;
    outline: 0;
    padding: 0 10px 0 27px;
    width: 100%; }
    #search-form-wrapper input::-webkit-input-placeholder {
      opacity: .5; }
    #search-form-wrapper input::-moz-placeholder {
      opacity: .5; }
    #search-form-wrapper input:-moz-placeholder {
      opacity: .5; }
    #search-form-wrapper input:-ms-input-placeholder {
      opacity: .5; }

.input-nofocus {
  background: url("/static/images/gray_search.png") no-repeat; }

.input-focus {
  background: url("/static/images/white_search.png") no-repeat; }

#wrapper {
  width: 100%; }

#footer {
  bottom: 0;
  left: 0;
  margin-bottom: 15px;
  position: absolute;
  width: 100%;
  min-width: 540px; }

#footer-links {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 0 10px;
  width: 270px; }
  #footer-links a {
    color: #fff;
    font-size: 14px;
    margin-left: 11px;
    pointer-events: none;
    text-decoration: none; }

#footer-right {
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 14px;
  padding-right: 10px; }
  #footer-right div {
    width: 100%;
    position: relative;
    margin-right: 35px; }
    #footer-right div a {
      color: #fff;
      text-decoration: none; }
    #footer-right div span {
      font-weight: bold; }

#posted-by-img {
  height: 24px;
  width: 24px;
  margin: 0 0 0 3px;
  top: -4px;
  right: 0;
  position: absolute; }
  #posted-by-img img {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=style.css.map */
