@import 'bourbon/bourbon';
@import '../../../../static/scss/reset';
@import '../../../../static/scss/header';

html {
	font-family: helvetica, arial;
	height: 100%;
}

body {
	background: #36465d;
	height: 100%;
}

#wrapper {
	width: 100%;
}

#content {
	height: 2000px;
	margin: 54px 0 0 0;
	width: 100%;

	p {
		color: #ffffff;
	}
}
	