@import 'bourbon/bourbon';
@import '../../../../static/scss/reset';
@import '../../../../static/scss/header';

html {
	font-family: helvetica, arial;
	height: 100%;
}

body {
	background: #36465d;
	height: 100%;
}

#wrapper {
	width: 100%;
}

#posts-wrapper {
	padding: 92px 0 0 0;
	width: 100%;
}

.post-wrapper {
	background: #ffffff;
	border-radius: 3px;
	width: 540px;
	margin: 0 auto 20px auto;

	.post-header {
		height: 45px;
		padding: 14px 0 0 20px;
		position: relative;

		.blog-link {
			background: #ffffff;
			border-radius: 2px;
			height: 64px;
			width: 64px;
			position: absolute;
			left: -85px;
			top: 0;

			img {
				height: 62px;
				width: 62px;
				margin: 1px 0 0 1px;
			}
		}

		.user-link {
			color: #444;
			font-size: 14px;
			font-weight: bold;
			text-decoration: none;
		}
	}

	.post {

		img {
			max-width: 100%;
		}

		.words-wrapper {
			color: #444;
			padding: 0 10px 0 10px;

			.post-title,
			.post-text,
			.post-tags {
				word-wrap: break-word;
			}

			.post-title {
				font-size: 36px;
				line-height: 47px;
				margin: 0 0 0 7px;
			}

			.post-text {
				font-size: 14px;
				margin: 0 0 0 8px;
				padding-top: 10px;
			}

			.post-tags {
				color: #a1a1a1;
				display: block;
				font-size: 13px;
				margin: 18px 0 0 8px;
			}
		}
	}

	.post-footer {
		height: 45px;
	}
}
