@import 'bourbon/bourbon';
@import '../../../../static/scss/reset';
/*@import '../../../../static/scss/header';*/

html {
	font-family: helvetica, arial;
	height: 100%;
}

body {
	background: #36465d;
	height: 100%;
}

#wrapper {
	height: 100%;
	width: 100%;
}

#blog-content {
	height: 2000px;
	margin: 54px 0 0 0;
	width: 100%;

	#blog-post-wrapper {
		margin: 0 auto 0 auto;
		padding-top: 38px;
		width: 540px;
	}

	.blog-post-header {
		background: #ffffff;
		border-radius: 2px 2px 0 0;
		height: 42px;
		padding: 10px 0 0 20px;
		position: relative;
		width: 100%;

		.user-blog-link {
			background: #ffffff;
			border-radius: 2px;
			height: 64px;
			left: -85px;
			top: 0;
			position: absolute;
			width: 64px;

			img {
				height: 62px;
				margin: 1px 0 0 1px;
				width: 62px;
			}
		}

		.user-link {
			color: #444;
			font-size: 13px;
			font-weight: 700;
			text-decoration: none;
		}
	}

	.blog-post {
		background: #ffffff;
		color: #444;
		width: 540px;

		span {
			font-size: 36px;
			margin: 0 0 0 17px;
		}

		p {
			color: #444;
			font-size: 14px;
			margin: 10px 0 0 18px;
		}

		img {
			max-width: 100%;
		}
	}

	.blog-post-footer {
		background: #ffffff;
		border-radius: 0 0 2px 2px;
		height: 42px;
		margin: 0 0 20px 0;
		width: 100%;

		.blog-footer-options {
			background: url('/static/images/posted_options.png') no-repeat;
			cursor: pointer;
			float: right;
			height: 25px;
			margin: 12px 18px 0 0;
			position: relative;
			width: 25px;
			
			.options-popup {
				background: #ffffff;
				border: 1px solid rgba(0,0,0,.1);
				border-radius: 2px;
				box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
				height: 76px;
				width: 130px;
				left: -60px;
				top: 20px;
				position: absolute;
				padding: 5px 0 0 0;
				z-index: 2;

				.option-edit,
				.option-delete {
					background: #ffffff;
					color: #444;
					font-size: 15px;
					height: 32px;
					padding: 6px 0 0 12px;
					width: 100%;
				}

				.option-edit:hover,
				.option-delete:hover {
					background: #E6EFF7;
				}
			}
		}
	}
}
