{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Tumblr</title>
	<link rel="icon" href="{% static 'images/icon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
</head>
<body id="blog-body">
	<div id="full-screen-img" class="display-none">
		<img src="">
	</div>
	<div id="wrapper" class="display-none">
		{% include "header.html" %}
		<div id="blog-content">
			<div id="blog-posts-wrapper">
				{% for post in latest_posts %}
					{% include "blog/post.html" %}
				{% endfor %}
			</div>
		</div>
	</div>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/js/blog_edit.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/post_img.js' %}"></script>
</body>
</html>