html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  box-sizing: content-box; }

/*@import '../../../../static/scss/header';*/
html {
  font-family: helvetica, arial;
  height: 100%; }

body {
  background: #36465d;
  height: 100%; }

.blog-post-fade {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

#wrapper {
  width: 100%; }

#blog-content {
  padding: 93px 0 0 0;
  width: 100%; }
  #blog-content #blog-posts-wrapper {
    margin: 0 auto 0 auto;
    width: 540px; }
  #blog-content .post-wrapper {
    width: 540px; }
  #blog-content .post-id {
    display: none; }
  #blog-content .blog-post-header {
    background: #ffffff;
    border-radius: 2px 2px 0 0;
    height: 42px;
    padding: 10px 0 0 20px;
    position: relative;
    width: 100%; }
    #blog-content .blog-post-header .user-blog-link {
      background: #ffffff;
      border-radius: 2px;
      height: 64px;
      left: -85px;
      top: 0;
      position: absolute;
      width: 64px; }
      #blog-content .blog-post-header .user-blog-link img {
        height: 62px;
        margin: 1px 0 0 1px;
        width: 62px; }
    #blog-content .blog-post-header .user-link {
      color: #444;
      font-size: 13px;
      font-weight: 700;
      text-decoration: none; }
  #blog-content .blog-post {
    background: #ffffff;
    color: #444;
    width: 540px; }
    #blog-content .blog-post span {
      font-size: 36px;
      margin: 0 0 0 17px; }
    #blog-content .blog-post p {
      color: #444;
      font-size: 14px;
      margin: 10px 0 0 18px; }
    #blog-content .blog-post img {
      max-width: 100%; }
  #blog-content .blog-post-footer {
    background: #ffffff;
    border-radius: 0 0 2px 2px;
    height: 42px;
    margin: 0 0 20px 0;
    width: 100%; }
    #blog-content .blog-post-footer .blog-footer-options {
      background: url("/static/images/posted_options.png") no-repeat;
      cursor: pointer;
      float: right;
      height: 25px;
      margin: 12px 18px 0 0;
      position: relative;
      width: 25px; }
      #blog-content .blog-post-footer .blog-footer-options .popup-high {
        top: -80px; }
      #blog-content .blog-post-footer .blog-footer-options .popup-low {
        top: 20px; }
      #blog-content .blog-post-footer .blog-footer-options .options-popup {
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        cursor: default;
        height: 76px;
        width: 130px;
        left: -60px;
        position: absolute;
        padding: 5px 0 0 0;
        z-index: 2; }
        #blog-content .blog-post-footer .blog-footer-options .options-popup .option-edit,
        #blog-content .blog-post-footer .blog-footer-options .options-popup .option-delete {
          background: #ffffff;
          color: #444;
          display: block;
          font-size: 15px;
          height: 32px;
          padding: 6px 0 0 12px;
          text-decoration: none;
          width: 100%; }
        #blog-content .blog-post-footer .blog-footer-options .options-popup .option-edit:hover,
        #blog-content .blog-post-footer .blog-footer-options .options-popup .option-delete:hover {
          background: #E6EFF7; }

/*# sourceMappingURL=style.css.map */
