{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Tumblr</title>
	<link rel="icon" href="{% static 'images/icon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'blogs/css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
</head>
<body id="blog-body">
	<div id="wrapper" class="display-none">
		{% include "header.html" %}
		<div id="blog-content">
			<div id="blog-post-wrapper">
				{% for post in latest_posts %}
					<div class="blog-post-header">
						<a class="user-blog-link" href="/">
							<img src="{{ blog.img.url }}">
						</a>
						<a class="user-link" href="">{{ user.username }}</a>
					</div>
					<div class="blog-post">
						{% if post.file %}
							<a href="{{ post.file.url }}">
								<img class="blog-post-img" src="{{ post.file.url }}">
							</a>
						{% endif %}
						{% if post.title %}
							<span>{{ post.title }}</span>
						{% endif %}
						{% if post.text %}
							<p>{{ post.text }}</p>
						{% endif %}
					</div>
					<div class="blog-post-footer">
						<div class="blog-footer-options">
							<div class="options-popup display-none">
								<div class="option-edit">Edit</div>
								<div class="option-delete">Delete</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
</body>
</html>