<div class="post-wrapper blog-post-fade" data-id="{{ post.id }}" data-username="{{ post.user.username }}">
	<div class="post-header">
		<a class="blog-link" href="http://{{ post.user.username }}.local.n-ws.org:8080">
			<img src="{{ post.blog.img.url }}">
		</a>
		<a class="user-link" href="http://{{ post.user.username }}.local.n-ws.org:8080">{{ post.user.username }}</a>
	</div>
	{% include 'post.html' %}
	<div class="post-footer">
		<div class="footer-options">
			<div class="options-popup display-none">
				<a href="" class="option-edit">Edit</a>
				<a href="" class="option-delete">Delete</a>
			</div>
		</div>
	</div>
</div>