{% load staticfiles %}
<div id="header" class="invisible">
	<a id="h-logo" href="/" tabindex="-1">
		<img src="{% static 'images/tumblr_logo.png' %}" alt="logo">
	</a>
	<div id="header-right">
		<a id="login" href="{% url 'no_user:login' %}">Log in</a>
		<a id="sign-up" href="{% url 'no_user:register' %}">Sign up</a>
	</div>
	<div id="form-wrapper">
		<form id="search" class="input-nofocus">
			<input id="search-input" type="text" placeholder="Search Tumblr" tabindex="4" name="search">
		</form>
	</div>
</div>
