@import 'bourbon/bourbon';
@import '../../../../static/scss/reset';
@import '../../../../static/scss/header';

html {
	font-family: helvetica, arial;
	height: 100%;
}

body {
	background: #36465d;
	height: 100%;
}

.blog-post-fade {
	@include transition-property( opacity );
	@include transition-duration( .6s );
	@include transition-timing-function( ease-out );
}

#wrapper {
	width: 100%;
}

#blog-content {
	padding: 93px 0 0 0;
	width: 100%;

	#blog-posts-wrapper {
		margin: 0 auto 0 auto;
		width: 540px;
	}

	.post-wrapper {
		width: 540px;
	}

	.post-header {
		background: #ffffff;
		border-radius: 2px 2px 0 0;
		padding: 10px 0 0 20px;
		position: relative;
		height: 42px;
		width: 100%;

		.blog-link {
			background: #ffffff;
			border-radius: 2px;
			left: -85px;
			top: 0;
			position: absolute;
			height: 64px;
			width: 64px;

			img {
				margin: 1px 0 0 1px;
				height: 62px;
				width: 62px;
			}
		}

		.user-link {
			color: #444;
			font-size: 13px;
			font-weight: 700;
			text-decoration: none;
		}
	}

	.post {
		background: #ffffff;
		width: 540px;

		img {
			max-width: 100%;
		}

		.words-wrapper {
			color: #444;
			padding: 0 10px 0 10px;

			.post-title,
			.post-text,
			.post-tags {
				word-wrap: break-word;
			} 

		 	.post-title {
				font-size: 36px;
				margin: 0 0 0 7px;
			}

			.post-text {
				font-size: 14px;
				margin: 0 0 0 8px;
				padding-top: 10px;
			}

			.post-tags {
				color: #a1a1a1;
				display: block;
				font-size: 13px;
				margin: 20px 0 0 8px;
			}
		}
	}
	

	.post-footer {
		background: #ffffff;
		border-radius: 0 0 2px 2px;
		margin: 0 0 20px 0;
		height: 42px;
		width: 100%;

		.footer-options {
			background: url('/static/images/posted_options.png') no-repeat;
			cursor: pointer;
			float: right;
			margin: 12px 18px 0 0;
			position: relative;
			height: 25px;
			width: 25px;
			
			.popup-high {
				top: -80px;
			}

			.popup-low {
				top: 20px;
			}

			.options-popup {
				background: #ffffff;
				border: 1px solid rgba(0,0,0,.1);
				border-radius: 2px;
				box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
				cursor: default;
				left: -60px;
				position: absolute;
				padding: 5px 0 0 0;
				height: 76px;
				width: 130px;
				z-index: 2;

				.option-edit,
				.option-delete {
					background: #ffffff;
					color: #444;
					display: block;
					font-size: 15px;
					padding: 6px 0 0 12px;
					text-decoration: none;
					height: 32px;
					width: 100%;
				}

				.option-edit:hover,
				.option-delete:hover {
					background: #E6EFF7;
				}
			}
		}
	}
}
