{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Tumblr</title>
	<link rel="icon" href="{% static 'images/icon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}" />
</head>
<body id="dashboard-body">
	<div id="full-screen-img" class="display-none">
		<img src="">
	</div>
	<div id="mini-site-wrapper" class="display-none">
		<div id="mini-site" class="site-no-width">
		</div>
	</div>
	<div id="wrapper" class="display-none">
		{% include "header.html" %}
		<div id="posts-wrapper">
		{% for post, tags in latest_posts %}
			{% include 'dashboard/dashboard_post.html' %}
		{% endfor %}
		</div>
	</div>
	{% include "js_modules.html" %}
	<script type="text/javascript" src="{% static 'dashboard/js/dashboard.js'%}"></script>
</body>
</html>