{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Tumblr</title>
	<link rel="icon" href="{% static 'images/icon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
</head>
<body id="dashboard-body">
	<div id="wrapper" class="display-none">
		{% include "header.html" %}
		<div id="content">
			<p>{{ user.username }}</p>
		</div>
	</div>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
</body>
</html>