<div id="footer">
	<div id="footer-links">
		{% block links %}
			<a href="">Terms</a>
			<a href="">Privacy</a>
			<a href="">Jobs</a>
			<a href="">Support</a>
		{% endblock %}
	</div>
	<div id="footer-right">
		<div>
			<a href="http://{{ recent_img_post.user.username }}.{{ domain_url }}">Posted by <span>{{ recent_img_post.user.username }}</span></a>
			<a id="posted-by-img" href="http://{{ recent_img_post.user.username }}.{{ domain_url }}">
				<img src="{{ recent_img_post.blog.img.url }}">
			</a>
		</div>
	</div>
</div>