{% load staticfiles %}
<div id="header-wrapper">
	<div id="header">
		<a id="h-logo" href="{% url 'dashboard:dashboard' %}" tabindex="-1">
			<img src="{% static 'images/tumblr_logo.png' %}" alt="logo">
		</a>
		<div id="header-right">
			<div id="header-links">
				<a id="dashboard" title="Dashboard" href="{% url 'dashboard:dashboard' %}"></a>
				<a id="explore" title="Explore" href="{% url 'explore:recent' %}"></a>
				<a id="messages" title="Inbox" href="/"></a>
				<a id="activity" title="Activity" href="/"></a>
				<div id="account" title="Account">
					<a id="account-a" href=""></a>
					<div id="account-details" class="account-fade account-hidden display-none">
						<ul>
							<li class="li-header"><strong>ACCOUNT</strong><a href="{% url 'log_out' %}">Log out</a></li>
						</ul>
						<ul>
							<li class="li-header"><strong>BLOGS</strong></li>
							<li class="blog-details">
								<a class="blog-link" href="{% url 'blog_edit' user.username %}">
									<img src="{{ blog.img }}">
									<div class="blog-info">
										<span class="username">{{ user.username }}</span>
										<br>
										<span class="blog-title">{{ blog.title }}</span>
									</div>
								</a>
						</ul>
					</div>
				</div>
				<a id="post" title="Make a post" href=""></a>
			</div>
		</div>
		<div id="form-wrapper">
			<form id="search" class="input-nofocus">
				<input id="search-input" type="text" placeholder="Search Tumblr" tabindex="4" name="search">
			</form>
		</div>
	</div>
	{% block sub_header %}{% endblock sub_header %}
</div>	
<div id="post-options" class="post-fade post-hidden display-none">
	<div id="post-type-wrapper">
		<div id="post-type">	
			<div id="text" class="type-anim type-hidden"></div>
			<div id="photo" class="type-anim type-hidden"></div>
			<div id="quote" class="type-anim type-hidden"></div>
			<div id="link" class="type-anim type-hidden"></div>
			<div id="chat" class="type-anim type-hidden"></div>
			<div id="audio" class="type-anim type-hidden"></div>
			<div id="video" class="type-anim type-hidden"></div>
		</div>						
		<div id="post-titles">
			<p class="p-fade p-hidden">Text</p>
			<p class="p-fade p-hidden">Photo</p>
			<p class="p-fade p-hidden">Quote</p>
			<p class="p-fade p-hidden">Link</p>
			<p class="p-fade p-hidden">Chat</p>
			<p class="p-fade p-hidden">Audio</p>
			<p class="p-fade p-hidden">Video</p>
		</div>
	</div>
	<div class="post-selection display-none">
		<div class="table-cell">
			<div id="post-text">
				<div class="post-header">
					<a href="">
						<img src="{{ blog.img.url }}">
					</a>
					<p>{{ user.username }}</p>
				</div>
				<div class="post-content">
					<form id="post-text-form" action="" method="POST">
						{% csrf_token %}
						{{ text_form.title }}
						{{ text_form.text }}
						{{ text_form.tags }}
						<input class="submit-input" type="submit">
					</form>
				</div>
				<div class="post-footer">
					<button class="close-post">Close</button>
					<div class="post-submit">
						<button class="submit-button">Post</button>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post-selection display-none">
		<div class="table-cell">
			<div id="post-photo">
				<div class="post-header">
					<a href="">
						<img src="{{ blog.img.url }}">
					</a>
					<p>{{ user.username }}</p>
				</div>
				<div id="image-option">
					<div id="upload-img">
						<div class="option-container">
							<img src="{% static 'images/upload_photo.png' %}">
							<p>Upload photos</p>
						</div>
					</div>
					<div id="url-img">
						<div class="option-container">
							<img src="{% static 'images/url_photo.png' %}">
							<p>Add photo from web</p>
						</div>
					</div>
				</div>
				<div class="post-content display-none">
					<form id="post-photo-form" action="" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{{ photo_form.file }}
						<div id="img-container">
							<img id="img-preview" src="" class="display-none">
							<span id="erase-img" class="display-none">x</span>
						</div>
						{{ photo_form.text }}
						{{ photo_form.tags }}
						<input class="submit-input" type="submit">
					</form>
				</div>
				<div class="post-footer">
					<button class="close-post">Close</button>
					<div class="post-submit">
						<button class="submit-button">Post</button>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post-selection display-none">
		<div class="table-cell">
			<div id="post-quote">
				<div class="post-header">
					<a href="">
						<img src="{{ blog.img.url }}">
					</a>
					<p>{{ user.username }}</p>
				</div>
				<div class="post-content">
					<form action="posts/post_text" method="POST">
						<input class="submit-input" type="submit">
					</form>
				</div>
				<div class="post-footer">
					<button class="close-post">Close</button>
					<div class="post-submit">
						<button class="submit-button">Post</button>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post-selection display-none">
		<div class="table-cell">
			<div id="post-link">
				<div class="post-header">
					<a href="">
						<img src="{{ blog.img.url }}">
					</a>
					<p>{{ user.username }}</p>
				</div>
				<div class="post-content">
					<form action="posts/post_text" method="POST">
						<input class="submit-input" type="submit">
					</form>
				</div>
				<div class="post-footer">
					<button class="close-post">Close</button>
					<div class="post-submit">
						<button class="submit-button">Post</button>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post-selection display-none">
		<div class="table-cell">
			<div id="post-chat">
				<div class="post-header">
					<a href="">
						<img src="{{ blog.img.url }}">
					</a>
					<p>{{ user.username }}</p>
				</div>
				<div class="post-content">
					<form action="posts/post_text" method="POST">
						<input class="submit-input" type="submit">
					</form>
				</div>
				<div class="post-footer">
					<button class="close-post">Close</button>
					<div class="post-submit">
						<button class="submit-button">Post</button>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post-selection display-none">
		<div class="table-cell">
			<div id="post-audio">
				<div class="post-header">
					<a href="">
						<img src="{{ blog.img.url }}">
					</a>
					<p>{{ user.username }}</p>
				</div>
				<div class="post-content">
					<form action="posts/post_text" method="POST">
						<input class="submit-input" type="submit">
					</form>
				</div>
				<div class="post-footer">
					<button class="close-post">Close</button>
					<div class="post-submit">
						<button class="submit-button">Post</button>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post-selection display-none">
		<div class="table-cell">
			<div id="post-video">
				<div class="post-header">
					<a href="">
						<img src="{{ blog.img.url }}">
					</a>
					<p>{{ user.username }}</p>
				</div>
				<div class="post-content">
					<form action="posts/post_text" method="POST">
						<input class="submit-input" type="submit">
					</form>
				</div>
				<div class="post-footer">
					<button class="close-post">Close</button>
					<div class="post-submit">
						<button class="submit-button">Post</button>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>