{% load staticfiles %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/post_img.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mini_site.js' %}"></script>
<script type="text/javascript" src="{% static 'js/follow.js' %}"></script>
<script type="text/javascript" src="{% static 'js/post.js' %}"></script>
<script type="text/javascript" src="{% static 'js/infinite_scroll.js' %}"></script>