<div class="post">
	{% if post.file %}
		<a class="post-click-img" href="{{ post.file.url }}">
			<img class="post-img" src="{{ post.file.url }}">
		</a>
	{% endif %}
	<div class="words-wrapper">
		{% if post.title %}
			<span class="post-title">{{ post.title }}</span>
		{% endif %}
		{% if post.text %}
			<p class="post-text">{{ post.text }}</p>
		{% endif %}

		{% if tags %}
			<span class="post-tags">{% for tag in tags %}<a title="{{ tag }}" href="{% url 'results' tag %}">#{{ tag }}</a> {% endfor %}</span>
		{% endif %}
	</div>
</div>