{% if section == 'blog' %}
	<div class="post-wrapper blog-post-fade" data-id="{{ post.id }}" data-username="{{ post.user.username }}">
{% else %}
	<div class="post-wrapper" data-id="{{ post.id }}" data-username="{{ post.user.username }}">
{% endif %}

	{% if not request.subdomain %}
		<div class="post-header">
			{% if mini_section != 'True' %}
				<a class="blog-link" {% if section == 'blog' or section == 'likes' %}title="{{ post.blog.title }}"{% else %}title="{{ post.user.username }}"{% endif %} href="http://{{ post.user.username }}.{{ domain_url }}">
					<img src="{{ post.blog.img.url }}">
				</a>
				<a class="user-link" title="{{ post.user.username }}" href="http://{{ post.user.username }}.{{ domain_url }}">{{ post.user.username }}</a>

				{% if section == 'likes' and follow == 'False' and post.user != request.user %}
					<div class="follow-wrapper" data-username="{{ post.user.username }}">
						<button class="follow">Follow</button>
					</div>
				{% elif section == 'explore' %}
					<a class="follow-link" data-username="{{ post.user.username }}" {% if user.is_anonymous %}href="{% url 'register' %}"{% endif %}>
						{% if follow == "True" %}
							<div title="Follow" class="follow display-none">Follow</div>
							<div title="Unfollow" class="unfollow display-none">Unfollow</div>
						{% else %}
							<div title="Follow" class="follow">Follow</div>
							<div title="Unfollow" class="unfollow display-none">Unfollow</div>
						{% endif %}
					</a>
				{% endif %}

			{% endif %}
		</div>
	{% endif %}

	<div class="post">
		{% if post.file %}
			<a class="post-click-img" href="{{ post.file.url }}">
				<img class="post-img" src="{{ post.file.url }}">
			</a>
		{% endif %}
		<div class="words-wrapper">
			{% if post.title %}
				<span class="post-title">{{ post.title }}</span>
			{% endif %}

			{% if post.text %}
				<p class="post-text">{{ post.text }}</p>
			{% endif %}

			{% if tags %}
				<span class="post-tags">{% for tag in tags %}<a title="{{ tag }}" href="{% url 'results' tag %}">#{{ tag }}</a>{% endfor %}</span>
			{% endif %}
		</div>
	</div>
	<div class="post-footer">
		<div class="footer-options">
			{% if section == 'blog' %}
				<button class="post-edit"></button>
				<div class="options-popup display-none">
					<a href="" class="option-edit">Edit</a>
					<a href="" class="option-delete">Delete</a>
				</div>
			{% else %}
				<div class="post-options">
					<a class="like-options"{% if user.is_anonymous %} href="{% url 'register' %}{% endif %}">
						{% if like == "True" %}
							<div class="like"></div>
							<div class="no-like display-none"></div>
						{% else %}
							<div class="no-like"></div>
							<div class="like display-none"></div>
						{% endif %}
					</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>