.blog-post-fade {
	@include transition-property( opacity );
	@include transition-duration( .6s );
	@include transition-timing-function( ease-out );
}

#blog-posts-wrapper {
	margin: 0 auto 0 auto;
	width: 540px;

	.post-header {
		position: relative;
		height: 42px;
		padding: 10px 0 0 20px;
	}

	.user-link {
		font-size: 13px;
	}

 	.post-title {
		margin: 0 0 0 7px;
	}

	.post-text {
		margin: 0 0 0 8px;
		padding-top: 10px;
	}

	.post-tags {
		margin: 20px 0 0 8px;
	}

	.post-footer {
		height: 42px;
	}

	.footer-options {
		margin: 8px 18px 0 0;
		height: 25px;
		width: 25px;
		position: relative;
	}

	.post-edit {
		background: url('/static/images/posted_options.png') no-repeat center;
		border: 0;
		cursor: pointer;
		outline: 0;
		height: 25px;
		width: 25px;
	}

	.popup-high {
		top: -78px;
	}

	.popup-low {
		top: 28px;
	}

	.options-popup {
		background: #ffffff;
		border: 1px solid rgba(0,0,0,.1);
		border-radius: 2px;
		box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
		cursor: default;
		left: -57px;
		position: absolute;
		padding: 5px 0 0 0;
		height: 76px;
		width: 130px;
		z-index: 2;
	}

	.option-edit,
	.option-delete {
		background: #ffffff;
		color: #444;
		display: block;
		font-size: 15px;
		padding: 6px 0 0 12px;
		text-decoration: none;
		height: 32px;
		width: 100%;
	}

	.option-edit:hover,
	.option-delete:hover {
		background: #E6EFF7;
	}
}