#dashboard-posts-wrapper {
	width: 540px;
	margin: auto auto;

	.post-header {
		height: 45px;
		padding: 0 0 0 20px;
		position: relative;
	}

	.user-link {
		line-height: 16px;
		margin: 13px 0 0 0;
		position: absolute;
	}

	.post-title {
		line-height: 47px;
		margin: 0 0 0 7px;
	}

	.post-text {
		margin: 0 0 0 8px;
		padding-top: 10px;
	}

	.post-tags {
		margin: 18px 0 0 8px;
	}
}