#post-options {
  left: 0;
  top: 0;
  background: rgba(54,70,93,.95);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
}

#post-type-wrapper {
  height: 100%;
  width: 100%;
}

#post-type {
  top: 50%;
  left: 50%;
  margin: -115px 0 0 -440px;
  position: absolute;
  height: 100px;
  width: 880px;

  div {
    top: 1px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    height: 100px;
    width: 100px;
  }

  .hover {
    margin: -5px 0 0 -5px;
    height: 110px;
    width: 110px;
  }
}

$bg-size: 52%;

#text {
  background: #fff url('/static/images/post_icons/text.png') no-repeat center;
  background-size: $bg-size;
  left: 0;
}

#photo {
  background: #D95E40 url('/static/images/post_icons/photo.png') no-repeat center;
  background-size: $bg-size;
  left: 130px;
}

#quote {
  background: #F2992E url('/static/images/post_icons/quote.png') no-repeat center;
  background-size: $bg-size;
  left: 260px;
}

#link {
  background: #56BC8A url('/static/images/post_icons/link.png') no-repeat center;
  background-size: $bg-size;
  left: 390px;
}

#chat {
  background: #4AA8D8 url('/static/images/post_icons/chat.png') no-repeat center;
  background-size: $bg-size;
  left: 520px;
}

#audio {
  background: #A77DC2 url('/static/images/post_icons/audio.png') no-repeat center;
  background-size: $bg-size;
  left: 650px;
}

#video {
  background: #748089 url('/static/images/post_icons/video.png') no-repeat center;
  background-size: $bg-size;
  left: 780px;
}

#post-titles {
  top: 50%;
  left: 50%;
  margin: 0 0 0 -440px;
  position: absolute;
  height: 22px;
  width: 900px;

  :nth-child(1) {
    left: 0;
  }
  :nth-child(2) {
    left: 130px;
  }
  :nth-child(3) {
    left: 260px;
  }
  :nth-child(4) {
    left: 390px;
  }
  :nth-child(5) {
    left: 520px;
  }
  :nth-child(6) {
    left: 650px;
  }
  :nth-child(7) {
    left: 780px;
  }

  p {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    position: absolute;
    text-align: center;
    width: 100px;
  }
}

.post-selection {
  position: absolute;
  height: 100%;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

#post-text,
#post-photo,
#post-quote,
#post-link,
#post-chat,
#post-audio,
#post-video {
  background: #ffffff;
  border-radius: 2px;
  margin: 50px auto 50px auto;
  position: relative;
  width: 540px;


}

#post-text {
  min-height: 287px;
}

#post-photo {

  #image-option {
    background: #F2F2F2;
    border-top: 2px dashed #d4d4d4;
    border-bottom: 2px dashed #d4d4d4;
    overflow: auto;
    height: 200px;
    width: 540px;

    .option-container {
      margin: auto;
      width: 270px;
    }

    p {
      color: #9a9a9a;
      font-size: 14px;
    }

    img {
      margin: 65px 5px 10px 0;
    }

    #upload-img {
      cursor: pointer;
      float: left;
      text-align: center;
      height: 196px;
      width: 270px;
    }

    #url-img {
      cursor: pointer;
      float: left;
      text-align: center;
      height: 196px;
      width: 270px;
    }

    #url-img::before {
      border-left: 1px solid #d4d4d4;
      content: "";
      display: block;
      margin: 25px 0 0 0;
      position: absolute;
      height: 150px;
      width: 1px;
    }
  }

  #photo-file {
    display: none;
  }

  #img-preview-container {
    margin: 0 0 10px 0;
    width: 100%;
    position: relative;

    #img-preview {
      width: 100%;
    }

    #erase-img {
      background: #D95E40;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      height: 21px;
      width: 21px;
      padding: 1px 0 0 6.5px;
      position: absolute;
      right: -7px;
      top: -7px;
    }
  }
}

.post-selection {

  .post-header {
    height: 45px;
    width: 540px;
    position: relative;

    a {
      background: #ffffff;
      border-radius: 2px;
      height: 64px;
      width: 64px;
      position: absolute;
      left: -84px;
    }

    img {
      height: 62px;
      width: 62px;
      margin: 1px 0 0 1px;
    }

    p {
      color: #444;
      font-size: 13px;
      font-weight: 700;
      margin: 15px 0 0 20px;
      position: absolute;
    }
  }

  .post-content {
    background: #ffffff;

    .title-field,
    .text-field,
    .tags-field {
      border: none;
      font-family: helvetica, arial;
      margin-left: 17px;
      outline: none;
      overflow: hidden;
      position: relative;
      resize: none;
      width: 510px;
    }

    .title-field {
      font-size: 36px;
      height: 46px;
      min-height: 46px;
    }

    .text-field {
      font-size: 14px;
      margin-top: 2px;
      height: 63px;
      min-height: 63px;
    }

    .tags-field {
      font-size: 13px;
      margin-top: 28px;
      margin-bottom: 12px;
      height: 19px;
      min-height: 19px;
    }

    .submit-input {
      display: none;
    }
  }

  .post-footer {
    padding-top: 15px;
    height: 60px;
    width: 540px;

    .close-post {
      background-color: #9DA6AF;
      border: 1px solid #9da6af;
      border-radius: 2px;
      color: #ffffff;
      cursor: pointer;
      float: left;
      font-size: 13px;
      font-weight: bold;
      margin: 0 0 0 20px;
      padding: 0 0 1px 0;
      position: absolute;
      height: 30px;
      width: 51px;
    }

    .post-submit {
      float: right;
      margin: 0 22px 0 0;
      overflow: auto;
      height: 30px;
      width: 71px;

      .submit-button {
        background: #529ECC;
        border: 1px solid #529ECC;
        border-radius: 2px 0 0 2px;
        color: rgba(255,255,255,.5);
        cursor: pointer;
        float: left;
        font-size: 13px;
        font-weight: bold;
        padding: 0 0 2px 1px;
        height: 30px;
        width: 44px;
      }

      .button-color {
        color: #fff;
      }

      div {
        background: #529ECC url('/static/images/arrow.png') no-repeat center;
        border: 1px solid #529ECC;
        border-radius: 0 2px 2px 0;
        color: #fff;
        cursor: pointer;
        float: right;
        padding-right: 1px;
        height: 30px;
        width: 27px;
      }

      div::before {
        border-left: 1px solid #85BBDB;
        content: "";
        margin-top: 8px;
        position: absolute;
        height: 12px;
        width: 1px;
      }
    }
  }
}