#likes-posts-wrapper {
  margin: 0 auto;
  width: 540px;

  .post-header {
    padding: 10px 0 0 20px;
    position: relative;
    height: 42px;
  }

  .user-link {
    font-size: 13px;
  }

  .follow {
    background: #529ecc;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 23px;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 57px;
    text-align: center;
  }

  .post-title {
    margin: 0 0 0 7px;
  }

  .post-text {
    margin: 0 0 0 8px;
    padding-top: 10px;
  }

  .post-tags {
    margin: 20px 0 0 8px;
  }

  .post-footer {
    margin: 0 0 20px 0;
    height: 42px;
  }
}