#no-user-header-wrapper {
	width: 100%;
	position: fixed;
	z-index: 98;
}

#no-user-header {
	height: 58px;
	margin: 0 auto 0 auto;
	max-width: 1620px;
	min-width: 750px;
	overflow: hidden;

	#h-logo {
		float: left;
		height: 55px;
		margin-top: -3px;
		outline: 0;
	}

	#form-wrapper {
		margin: 18px 0 0 68px;
		overflow: hidden;

		form {
			background-size: 18px 18px;
		}

		input {
			background: transparent;
			border: none;
			color: #fff;
			font-size: 15px;
			outline: 0;
			padding: 0 10px 0 27px;
			width: 100%;

			@include placeholder {
				opacity: .5;
			}
		}
	}

	.input-nofocus {
		background: url("/static/images/gray_search.png") no-repeat;
	}

	.input-focus {
		background: url("/static/images/white_search.png") no-repeat;
	}

	#header-right {
		float: right;
		margin: 10px 0 0 0;
		overflow: hidden;
		padding: 0 19px 0 0;
		width: 169px;

		a {
			font-size: 13px;
			padding: 7px 0 0 13px;
			text-decoration: none;
		}
	}

	#login {
		background: rgba(255, 255, 255, .3);
		border-radius: 2px;
		color: #fff;
		float: left;
		font-weight: bold;
		height: 32px;
		padding-bottom: 5px;
		width: 65px;
	}

	#sign-up {
		background: #fff;
		border-radius: 2px;
		color: #444;
		float: left;
		font-weight: bold;
		height: 32px;
		margin: 0 0 0 10px;
		padding-bottom: 4px;
		width: 74px;
	}
}
