.post-wrapper {
  margin: 0 0 20px 0;
  width: 540px;

  .post-header {
    background: #fff;
    width: 100%;
    border-radius: 3px 3px 0 0;
    padding: 1px;
  }

  .blog-link {
    background-color: #fff;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    left: -85px;
    top: 0;
    position: absolute;
    height: 64px;
    width: 64px;
  }

  .user-link {
    color: #444;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
  }
}

.post {
  background: #fff;
  width: 100%;

  img {
    width: 100%
  }
}

.words-wrapper {
  color: #444;
  padding: 0 10px 0 10px;
  word-wrap: break-word;
}

.post-title {
  font-size: 36px;
}

.post-text {
  font-size: 14px;
}

.post-tags {
  font-size: 13px;
  display: block;
  white-space: nowrap;
  overflow: hidden;

  a {
    color: #a1a1a1;
    text-decoration: none;
    margin-right: 10px;
  }
}

.post-footer {
  background: #fff;
  border-radius: 0 0 3px 3px;
  height: 45px;
  padding: 1px;
  width: 100%;

  .footer-options {
    float: right;
    height: 17px;
    margin: 14px 20px 0 0;
    width: 19px;

    .like-options {
      display: block;
    }

    .like,
    .no-like {
      cursor: pointer;
      height: 17px;
      width: 19px;
    }

    .like {
      background: url("/static/images/like.png");
    }

    .no-like {
      background: url("/static/images/no_like.png");
    }
  }
}