@import 'bourbon/bourbon';

#error-body {

  #wrapper {
    height: 100%;
    position: absolute;
    z-index: 100;
  }

  #footer-links {

    a {
      font-size: 40px;
      font-weight: bold;
      pointer-events: auto;
    }
  }

  #error-center {
    color: #fff;
    height: 200px;
    width: 420px;
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    margin: -85px 0 0 -210px;
  }

  #error-message {
    width: 400px;

    span {
      font-size: 26px;
      font-weight: bold;
    }

    p {
      margin-top: 5px;
      line-height: 18px;
      font-size: 14px;
    }
  }

  #search-form-wrapper {
    background: rgba(255,255,255,0.85);
    border-radius: 20px;
    margin: 12px 0 0 75px;
    padding: 0 0 0 9px;
    height: 26px;
    width: 250px;

    form {
      background-size: 13px 13px;
      background-position: 0 center;
      height: 100%;
    }

    input {
      color: #444;
      font-size: 13px;
      font-weight: bold;
      height: 100%;
      padding: 0 0 0 20px;

      @include placeholder {
        color: #444;
        opacity: .6;
      }
    }
  }
}
