@import 'bourbon/bourbon';
@import 'reset';
@import 'universal';
@import 'header';
@import 'mini_site';
@import 'blog';
@import 'dashboard';
@import 'explore';
@import 'sites';
@import 'no_user_header';
@import 'no_user';
@import 'error';

html {
  font-family: helvetica, arial;
  height: 100%;
}

body {
  background: #36465d;
  height: 100%;
}

#img-container {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  opacity: .8;
  position: absolute;
  z-index: 1;
}

#wrapper {
  width: 100%;
}

.post-wrapper {
  width: 540px;

  .user-link {
    color: #444;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
  }
}

.post {

  img {
    width: 100%
  }

  .words-wrapper {
    color: #444;
    padding: 0 10px 0 10px;
    word-wrap: break-word;

    .post-title {
      font-size: 36px;
    }

    .post-text {
      font-size: 14px;
    }

    .post-tags {
      font-size: 13px;
      display: block;
      white-space: nowrap;
      overflow: hidden;

      a {
        color: #a1a1a1;
        text-decoration: none;
        margin-right: 10px;
      }
    }
  }
}
.post-footer {
  height: 45px;
}

//no_user/error footer
#footer {
    bottom: 0;
    left: 0;
    margin-bottom: 15px;
    position: absolute;
    width: 100%;
    min-width: 540px;
  }

  #footer-links {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 0 10px;
    width: 270px;

    a {
      color: #fff;
      font-size: 14px;
      margin-left: 11px;
      pointer-events: none;
      text-decoration: none;
    }
  }

  #footer-right {
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 14px;
    padding-right: 10px;

    div {
      width: 100%;
      position: relative;
      margin-right: 35px;

      a {
        color: #fff;
        text-decoration: none;
      }

      span {
        font-weight: bold;
      }

      #posted-by-img {
        height: 24px;
        width: 24px;
        margin: 0 0 0 3px;
        top: -4px;
        right: 0;
        position: absolute;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }