@import 'bourbon/bourbon';
@import 'reset';
@import 'universal';
@import 'header';
@import 'header_post';
@import 'post';
@import 'mini_site';
@import 'blog_edit';
@import 'dashboard';
@import 'explore';
@import 'sites';
@import 'no_user_header';
@import 'no_user';
@import 'error';
@import 'likes';
@import 'following';

html {
  font-family: helvetica, arial;
  height: 100%;
}

body {
  background: #36465d;
  height: 100%;
}

#full-screen-img {
  left: 0;
  top: 0;
  background: rgba(17, 17, 17, 0.921569);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;

  img {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    margin: auto auto;
    max-height: 100%;
    max-width: 70%;
  }
}

#img-container {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  opacity: .8;
  position: absolute;
  z-index: 1;
}

#search-form-wrapper {
  margin: 18px 0 0 68px;
  overflow: hidden;

  form {
    background-size: 18px 18px;
  }

  input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 15px;
    outline: 0;
    padding: 0 10px 0 27px;
    width: 100%;

    @include placeholder {
      opacity: .5;
    }
  }
}

.input-nofocus {
  background: url("/static/images/gray_search.png") no-repeat;
}

.input-focus {
  background: url("/static/images/white_search.png") no-repeat;
}

#wrapper {
  width: 100%;
}

//no_user/error footer
#footer {
  bottom: 0;
  left: 0;
  margin-bottom: 15px;
  position: absolute;
  width: 100%;
  min-width: 540px;
}

#footer-links {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 0 10px;
  width: 270px;

  a {
    color: #fff;
    font-size: 14px;
    margin-left: 11px;
    pointer-events: none;
    text-decoration: none;
  }
}

#footer-right {
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 14px;
  padding-right: 10px;

  div {
    width: 100%;
    position: relative;
    margin-right: 35px;

    a {
      color: #fff;
      text-decoration: none;
    }

    span {
      font-weight: bold;
    }
  }
}

#posted-by-img {
  height: 24px;
  width: 24px;
  margin: 0 0 0 3px;
  top: -4px;
  right: 0;
  position: absolute;

  img {
    width: 100%;
    height: 100%;
  }
}