html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  box-sizing: content-box; }

#header {
  border-bottom: 1px solid #505e72;
  margin: 0 auto 0 auto;
  max-width: 1620px;
  min-width: 64px;
  overflow: hidden;
  padding-bottom: 5px; }

#h_logo {
  float: left;
  height: 55px;
  margin-top: -6px;
  outline: 0;
  z-index: 20; }

#form_wrapper {
  margin: 18px 0 0 68px;
  overflow: hidden; }
  #form_wrapper form {
    background-size: 18px 18px; }
  #form_wrapper input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 15px;
    outline: 0;
    padding: 0 10px 0 27px;
    width: 100%; }

#search_input::-webkit-input-placeholder {
  opacity: .7; }

#search_input:-ms-input-placeholder {
  opacity: .4; }

#search_input::-moz-placeholder {
  opacity: .4; }

#search_input:-moz-placeholder {
  opacity: .4; }

.input_nofocus {
  background: url("/static/images/gray_search.png") no-repeat; }

.input_focus {
  background: url("/static/images/white_search.png") no-repeat; }

#header_right {
  float: right;
  z-index: 10; }
  #header_right #header_links {
    height: 100%;
    margin: 11px 20px 0 0;
    overflow: hidden;
    width: 100%; }
    #header_right #header_links #dashboard,
    #header_right #header_links #explore,
    #header_right #header_links #inbox,
    #header_right #header_links #activity,
    #header_right #header_links #account_a,
    #header_right #header_links #post {
      background: #000000;
      color: transparent;
      display: block;
      float: left;
      margin-left: 32px;
      position: relative; }
    #header_right #header_links #dashboard {
      background: url("/static/images/home.png") no-repeat;
      height: 20px;
      margin-top: 5px;
      width: 20px; }
    #header_right #header_links #explore {
      background: url("/static/images/explore.png") no-repeat;
      height: 22px;
      margin-top: 4px;
      width: 22px; }
    #header_right #header_links #inbox {
      background: url("/static/images/messages.png") no-repeat;
      height: 17px;
      margin-top: 7px;
      width: 23px; }
    #header_right #header_links #activity {
      background: url("/static/images/activity.png") no-repeat;
      height: 20px;
      margin-top: 5px;
      width: 14px; }
    #header_right #header_links #account {
      float: left;
      height: 19px;
      margin: 0 5px 0 30px;
      width: 15px; }
      #header_right #header_links #account #account_a {
        background: url("/static/images/account.png") no-repeat;
        float: none;
        height: 19px;
        margin: 6px 0 0 0;
        width: 15px; }
    #header_right #header_links #account_details {
      background: #f5f5f5;
      border-radius: 2px;
      height: 381px;
      right: 10px;
      position: absolute;
      top: 40px;
      width: 242px; }
      #header_right #header_links #account_details ul {
        list-style: none; }
      #header_right #header_links #account_details li {
        overflow: auto; }
    #header_right #header_links #oneli p {
      color: #888;
      cursor: default;
      font-size: 14px;
      font-weight: bold;
      float: left;
      margin: 4px 0 0 6px; }
    #header_right #header_links #oneli a {
      color: #7f7f7f;
      float: right;
      font-size: 12px;
      margin: 6px 16px 0 0;
      text-decoration: none; }
    #header_right #header_links #post {
      background: url("/static/images/post.png") no-repeat;
      height: 32px;
      width: 45px; }

.hidden {
  opacity: 0;
  margin-top: -10px; }

.visible {
  margin-top: 10px;
  opacity: 1; }

.display_none {
  display: none; }

.display_block {
  display: block; }

.account_fade {
  transition-property: margin opacity;
  transition-duration: .1s;
  transition-timing: ease-in-out; }

.post_fade {
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing: ease-in; }

.slide_up {
  transition-property: margin;
  transition-duration: 1s;
  transition-timing: ease-in; }

.type_anim {
  transition-property: margin opacity;
  transition-duration: .2s;
  transition-timing: ease-in; }

.p_fade {
  transition-property: opacity margin;
  transition-duration: .2s;
  transition-timing: ease-in; }

.type_hidden {
  opacity: 0;
  margin-top: 15px; }

.type_visible {
  opacity: 1;
  margin-top: 0; }

.p_hidden {
  opacity: 0;
  margin-top: -15px; }

.p_visible {
  opacity: 1;
  margin-top: 0; }

.margin_top {
  margin: -9999px 0 0 0; }

.post_hidden {
  opacity: 0; }

.post_visible {
  opacity: 1; }

#post_options {
  background: rgba(54, 70, 93, 0.95);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99; }
  #post_options #post_titles {
    top: 50%;
    left: 50%;
    height: 22px;
    margin: 0 0 0 -440px;
    position: absolute;
    width: 900px; }
    #post_options #post_titles :nth-child(1) {
      left: 0; }
    #post_options #post_titles :nth-child(2) {
      left: 130px; }
    #post_options #post_titles :nth-child(3) {
      left: 260px; }
    #post_options #post_titles :nth-child(4) {
      left: 390px; }
    #post_options #post_titles :nth-child(5) {
      left: 520px; }
    #post_options #post_titles :nth-child(6) {
      left: 650px; }
    #post_options #post_titles :nth-child(7) {
      left: 780px; }
    #post_options #post_titles p {
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 18px;
      position: absolute;
      text-align: center;
      width: 100px; }
  #post_options #post_type {
    top: 50%;
    left: 50%;
    height: 100px;
    margin: -115px 0 0 -440px;
    position: absolute;
    width: 880px; }
    #post_options #post_type div {
      top: 1px;
      border-radius: 50%;
      cursor: pointer;
      height: 100px;
      position: absolute;
      width: 100px; }
    #post_options #post_type .hover,
    #post_options #post_type div:hover {
      background-size: 120%;
      height: 110px;
      margin: -5px 0 0 -5px;
      width: 110px; }
    #post_options #post_type #text {
      background: #fff url("/static/images/post_icons/text.png") no-repeat center;
      background-size: 50%;
      left: 0; }
    #post_options #post_type #photo {
      background: #D95E40 url("/static/images/post_icons/photo.png") no-repeat center;
      background-size: 50%;
      left: 130px; }
    #post_options #post_type #quote {
      background: #F2992E url("/static/images/post_icons/quote.png") no-repeat center;
      background-size: 50%;
      left: 260px; }
    #post_options #post_type #link {
      background: #56BC8A url("/static/images/post_icons/link.png") no-repeat center;
      background-size: 50%;
      left: 390px; }
    #post_options #post_type #chat {
      background: #4AA8D8 url("/static/images/post_icons/chat.png") no-repeat center;
      background-size: 50%;
      left: 520px; }
    #post_options #post_type #audio {
      background: #A77DC2 url("/static/images/post_icons/audio.png") no-repeat center;
      background-size: 50%;
      left: 650px; }
    #post_options #post_type #video {
      background: #748089 url("/static/images/post_icons/video.png") no-repeat center;
      background-size: 50%;
      left: 780px; }

html {
  font-family: helvetica, arial;
  height: 100%; }

body {
  background: #36465d;
  height: 100%;
  overflow: hidden; }

#wrapper {
  height: 100%;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
