html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  box-sizing: content-box; }

#full-screen-img {
  left: 0;
  top: 0;
  background: rgba(17, 17, 17, 0.92157);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100; }
  #full-screen-img img {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    margin: auto auto;
    max-height: 100%;
    max-width: 70%; }

.overflow-hidden,
.overflow-hidden2 {
  overflow: hidden; }

.overflow-auto {
  overflow: auto; }

.account-hidden {
  opacity: 0;
  margin-top: -10px; }

.account-visible {
  margin-top: 14px;
  opacity: 1; }

.display-none {
  display: none; }

.display-table {
  display: table; }

.type-hidden {
  opacity: 0;
  margin-top: 15px; }

.type-visible {
  opacity: 1;
  margin-top: 0; }

.p-hidden {
  opacity: 0;
  margin: -15px 0 0 0; }

.p-visible {
  opacity: 1;
  margin: 0 0 0 0; }

.margin-top {
  margin: -9999px 0 0 0; }

.margin-none {
  margin: 0 0 0 0; }

.fade {
  opacity: .4; }

.invisible {
  opacity: 0; }

.visible {
  opacity: 1; }

html {
  font-family: helvetica, arial;
  height: 100%; }

body {
  background: #ffffff;
  height: 100%; }

#wrapper {
  width: 100%; }

#header-overlay {
  background-color: transparent;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4) 0, transparent);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0, transparent);
  height: 64px;
  width: 100%;
  position: absolute;
  top: 0; }
  #header-overlay a {
    position: absolute;
    top: -6px; }
  #header-overlay #link-wrapper {
    height: 30px;
    width: 200px;
    position: fixed;
    top: 3px;
    right: 3px; }
    #header-overlay #link-wrapper .follow,
    #header-overlay #link-wrapper .unfollow,
    #header-overlay #link-wrapper #dashboard-link {
      background: rgba(0, 0, 0, 0.38);
      border: 1px solid rgba(0, 0, 0, 0.18);
      border-radius: 2px;
      cursor: pointer;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      height: 20px;
      top: 0;
      padding-top: 2px;
      position: absolute; }
    #header-overlay #link-wrapper .follow {
      width: 65px;
      right: 93px;
      padding-left: 6px; }
    #header-overlay #link-wrapper .unfollow {
      width: 77px;
      right: 93px;
      padding-left: 8px; }
    #header-overlay #link-wrapper #dashboard-link {
      width: 90px;
      right: 0;
      padding-left: 13px; }
    #header-overlay #link-wrapper .follow:hover,
    #header-overlay #link-wrapper .unfollow:hover,
    #header-overlay #link-wrapper #dashboard-link:hover {
      background: rgba(0, 0, 0, 0.18); }
    #header-overlay #link-wrapper #tumblr-link {
      background: #2D4661;
      border-radius: 2px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      height: 25px;
      width: 72px;
      padding: 3px 0 0 7px;
      top: 2px;
      right: 4px; }

#header {
  display: block;
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%; }

#blog-info {
  margin: 0 auto 0 auto;
  padding-top: 40px;
  width: 300px;
  position: relative; }
  #blog-info #blog-img {
    background: #ffffff;
    border-radius: 8px;
    display: block;
    height: 114px;
    width: 114px;
    margin: 0 0 0 -57px;
    left: 50%;
    top: -82px;
    position: absolute; }
    #blog-info #blog-img img {
      height: 106px;
      width: 106px;
      margin: 4px 0 0 4px; }
  #blog-info #blog-title {
    display: block;
    text-decoration: none;
    margin: 0 0 0 0; }
    #blog-info #blog-title h1 {
      color: #444444;
      font-size: 56px;
      font-weight: bold;
      text-align: center; }

#posts-wrapper {
  margin: 10px 0 30px 0;
  width: 100%; }
  #posts-wrapper .post-wrapper {
    border: 1px solid #ccc;
    margin: 20px auto 0 auto;
    width: 700px; }
    #posts-wrapper .post-wrapper .post {
      border-radius: 4px; }
      #posts-wrapper .post-wrapper .post .post-click-img img {
        display: block;
        margin: 0 auto;
        width: 698px; }
      #posts-wrapper .post-wrapper .post .words-wrapper {
        color: #444;
        padding: 0 18px 0 18px;
        word-wrap: break-word; }
        #posts-wrapper .post-wrapper .post .words-wrapper .post-title {
          display: block;
          font-size: 36px;
          margin: 20px 0 0 0; }
        #posts-wrapper .post-wrapper .post .words-wrapper .post-text {
          font-size: 15px;
          margin: 20px 0 0 0; }
        #posts-wrapper .post-wrapper .post .words-wrapper .post-tags {
          display: block;
          font-size: 14px;
          margin: 26px 0 0 0;
          white-space: nowrap;
          overflow: hidden; }
          #posts-wrapper .post-wrapper .post .words-wrapper .post-tags a {
            text-decoration: none;
            color: #a7a7a7;
            margin-right: 10px; }
    #posts-wrapper .post-wrapper .post-footer {
      height: 50px;
      width: 100%; }

/*# sourceMappingURL=style.css.map */
