{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div id="wrapper" class="display-none invisible">
    {% if user.is_authenticated %}
      {% include 'explore/explore_header.html' %}
    {% else %}
      {% include 'explore/no_user_header.html' %}
    {% endif %}
    <div id="outer-wrapper">
      <div id="inner-wrapper">
        {% if result %}
          <div id="results">
            <div id="result-content">
              <h2>{{ result }}</h2>
              {% if search == 'data=NoResults' %}
                <p>That's about it for <span>{{ result }}</span>. Try another search?</p>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div id="explore-posts-wrapper">
          {% for post, tags, following in latest_posts %}
            {% include 'post.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
    {% include "js_modules.html" %}
    <script type="text/javascript" src="{% static 'js/masonry.pkgd.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/explore.js' %}"></script>
  {% else %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{% static 'js/no_user_explore.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/post_img.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/masonry.pkgd.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/explore.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/infinite_scroll.js' %}"></script>
  {% endif %}
{% endblock %}